<?php 

$ordersCount = \Jiri\JKShop\Models\Order::count();
$ordersPending = \Jiri\JKShop\Models\Order::where("paid_date", null)->count();



$ordersCountThis = \Jiri\JKShop\Models\Order::where("created_at",">=", Carbon\Carbon::now()->addDay(-30))->count();
$ordersCountLast = \Jiri\JKShop\Models\Order::whereBetween("created_at", [Carbon\Carbon::now()->addDay(-60), Carbon\Carbon::now()->addDay(-30)])->count();
$ordersValueThis = \Jiri\JKShop\Models\Order::where("created_at",">=", Carbon\Carbon::now()->addDay(-30))->sum("total_price");
$ordersValueLast = \Jiri\JKShop\Models\Order::whereBetween("created_at", [Carbon\Carbon::now()->addDay(-60), Carbon\Carbon::now()->addDay(-30)])->sum("total_price");

$ordersCountClass = "positive"; if ($ordersCountThis < $ordersCountLast) { $ordersCountClass = "negative";  }
$ordersValueClass = "positive"; if ($ordersValueThis < $ordersValueLast) { $ordersValueClass = "negative";  }
?>

<div style="display: none;">
    <div class="scoreboard-item control-chart col-md-4" data-control="chart-pie">
        <ul>
            <li data-color="#95b753"><?= Lang::get("jiri.jkshop::lang.orders.paid")?> <span><?= $ordersCount-$ordersPending  ?></span></li>
            <li data-color="#e5a91a"><?= Lang::get("jiri.jkshop::lang.orders.pending")?> <span><?= $ordersPending ?></span></li>
        </ul>
    </div>
    <div class="scoreboard-item title-value col-md-4">
        <h4><?= Lang::get("jiri.jkshop::lang.orders.orders_30_days")?></h4>
        <p class="<?= $ordersCountClass ?>"><?= $ordersCountThis ?></p>
        <p class="description"><?= Lang::get("jiri.jkshop::lang.orders.sales_30_days")?>: <?= $ordersCountLast ?></p>
    </div>
    <div class="scoreboard-item title-value col-md-4">
        <h4><?= Lang::get("jiri.jkshop::lang.orders.previous_30_days")?></h4>
        <p class="<?= $ordersValueClass ?>"><?= $ordersValueThis ?></p>
        <p class="description"><?= Lang::get("jiri.jkshop::lang.orders.previous_30_days")?>: <?= $ordersValueLast ?></p>
    </div>    
    
    <div class="clearfix"></div>
</div>

<hr style="display: none;">


<?= $this->listRender() ?>
