<?php


?>

<div id="reportinventory">
    <div>
        <!-- Inventory List -->
        <div class="control-list">
            <table class="table data" data-control="rowlink">
                <thead>
                <tr>
                    <!--<th class="sort-desc"><a href="/">Rank</a></th>-->
                    <th><span>No</span></th>
                    <th><span>Paket ID</span></th>
                    <!--<th><span>Categories</span></th>-->
                    <!--<th class="sort-desc"><a href="/">Orders</a></th>-->
                    <th><span>Qty</span></th>
                    <th><span>Weight</span></th>
                    <th><span>Dest</span></th>
                    <th><span>Good Desc</span></th>
                    <th><span>Date Order</span></th>
                    <th><span>Check</span></th>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach ($orderDataList as $key => $order) {
                echo '<tr>
                    <td>'.($key+1).'</td>
                    <td>'.$order->tiki_airway_bill.'</td>
                    <td>'.$order->quantity.'</td>
                    <td>'.$order->total_weight.'</td>
                    <td>'.$order->ds_tiki_code.'</td>
                    <td>'.$order->product_title_list.'</td>
                    <td>'.$order->created_at.'</td>
                    <td></td>
                </tr>';
                }
                ?>
                </tbody>
            </table>
            <div class="list-footer">
                <div class="list-pagination">
                    <div class="control-pagination">
                        <span class="page-iteration">1-<?= count($orderDataList) ?> of <?= count($orderDataList) ?></span>
                        <!--<a href="#" class="page-back" title="Previous page"></a><a href="#" class="page-next" title="Next page"></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editor"></div>
<div class="btn btn-primary" onclick="downloadInventory()" style="margin-right: 20px; float: right;">Download</div>
