<div class="uk-margin inputTrackingNumber">
    <label class="uk-form-label" for="trackingNumber">Tracking Number</label>
    <form data-request="onTrackingOrder">
        <div class="uk-form-controls" data-request="onTrackingOrder">
            <input name="trackingNumber" class="uk-input" type="text" maxlength="16" minlength="10" id="trackingNumber" required>
            <button class="trackingOrderButton btn-01" type="submit">TRACK MY ORDER</button>
        </div>
    </form>
    <div id="jkshop-tracking-details">
    </div>
</div>
