<table class="uk-table uk-table-striped">
    <thead>
    <tr>
        <th>Status</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    {% for key, data in history  %}
    <tr>
        <td>{{data.noted}}</td>
        <td>{{data.entry_date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
