title = "Cart"
url = "/cart"
layout = "default"
is_hidden = 0
==

<div class="cart-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ 'cart' | page }}">Cart</a></li>
        {% if category %}
            <li><a href="/{{category.slug}}">{{category.title}}</a></li>
        {% endif %}
    </ul>
    <div id="cart-page-wrapper">
        {% component 'myBasket' %}
    </div>
</div>
