title = "Checkout"
url = "/checkout"
layout = "default"
is_hidden = 0
==

<?php

function onStart() {
        $shipping = new \Jiri\JKShop\Models\Shipping();
        $this['provinceList'] = $shipping->getProvinceList();
        $this['cityList'] = $shipping->getCityList();
        $this['kecamatanList'] = $shipping->getKecamatanList();
        $this['jneDestinationList'] = $shipping->getDestinationList();
$this['tikiAccessToken'] = $shipping->getTikiAccessToken();
}

function onGetShipping() {
        $shipping = new \Jiri\JKShop\Models\Shipping();
        $this['shippingCostList'] = $shipping->getShippingCostList();
        return $this['shippingCostList'];
}

function onGetTikiAreaInfo() {
        $shipping = new \Jiri\JKShop\Models\Shipping();
        $this['tikiAreaInfo'] = $shipping->getTikiAreaInfo();
        return $this['tikiAreaInfo'];
}

function onGetTikiShipping() {
        $shipping = new \Jiri\JKShop\Models\Shipping();
        $this['tikiShippingCostList'] = $shipping->getTikiShippingCostList();
        return $this['tikiShippingCostList'];
}
?>
==

<div class="cart-page checkout-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ 'checkout' | page }}">Checkout</a></li>
        {% if category %}
            <li><a href="/{{category.slug}}">{{category.title}}</a></li>
        {% endif %}
    </ul>
    <div id="jkshop-basket-component-wrapper">
        {% component 'myBasket' %}
    </div>
</div>
