title = "Homepage"
url = "/"
layout = "default"
meta_title = "Lessential"
is_hidden = 0

[myProductsList]
take = 12
orderBy = "id"
sort = "desc"
onSaleOnly = 1
productPage = "product"

[Jiri\Subscribe\Components\SubscribeForm subscribeform]

==
<?php
use Jiri\Jkshop\Models\Category;
use Lessential\Homepage\Models\Sliders;
use Lessential\Homepage\Models\Testimonials;
function onStart(){
    $this['category'] = Category::orderBy('id','desc')->paginate(3);
$this['categories'] = Category::get();
$this['sliders'] = Sliders::get();
$this['testimonials'] = Testimonials::get();
}
?>
==

<div class="homepage uk-container">
    <div uk-slideshow="autoplay: true; autoplay-interval: 4000; " class="homepageSlider">

        <div class="uk-position-relative uk-visible-toggle uk-light">

            <ul class="uk-slideshow-items uk-grid-match" uk-height-viewport="min-height: 0">
                {% for slider in sliders %}
                <li>
                    <img src="{{slider.image.path}}"alt="{{slider.file_name}}">
                </li>
                {% endfor %}
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin uk-position-bottom-right uk-position-small hide-mobile"></ul>
    </div>

    <div class="home-description-section-1 no-container-mobile">
        <div class="home-title">Welcome to Lessentials Beauty</div>
        <div class="home-description">
            <div class="description-image">
                <img src="{{'assets/img/general/untitled-1@2x-c.jpg'|theme}}" alt="" class="hide-mobile">
                <img src="{{'assets/img/general/home-yellow-mobile@2x-c.jpg'|theme}}" alt="" class="show-mobile">
            </div>
            <div class="description-text">
                <div class="description-text-1">Lessential Products</div>
                <div class="description-text-2">A range of leather products with tangible results.</div>
                <div class="description-text-3">L’ Essential has a complete range of skin care products tailored for ongoing maintenance and care. L’ Essential products have been on the market since 2004. and have been well received in the wider community. With a wide range of products tailored to each skin type and creating high quality cosmetics in it’s contribution to the health and beauty of the skin of the people of Indonesia is L’ Essential’s commitment.</div>
            </div>
        </div>
    </div>

    <hr class="uk-divider-icon show-mobile">

    <div class="home-description-section-2 fldr block-mobile no-container-mobile">
        <div class="mr12 mr0-mobile">
            <img src="{{'assets/img/general/banner-3@2x-c.jpg'|theme}}" alt="banner" >
        </div>
        <div class="ml12 full-width section-2-step-parent">
            <div class="ml12 uk-flex uk-flex-column">
                <div class="section-2-step uk-flex-1 mb25">
                    <div class="flex-mobile">
                        <span class="step-number">01</span>
                        <span class="step-description ml35">Convenient for Indonesia’s climatic</span>
                    </div>
                </div>
                <div class="section-2-step uk-flex-1 mb25">
                    <div class="flex-mobile">
                        <span class="step-number">02</span>
                        <span class="step-description ml35">Qualified safe for the skin</span>
                    </div>
                </div>
                <div class="section-2-step uk-flex-1 mb25">
                    <div class="flex-mobile">
                        <span class="step-number">03</span>
                        <span class="step-description ml35">Not cause blackheads and allergic reactions</span>
                    </div>
                </div>
                <div class="section-2-step uk-flex-1">
                    <div class="flex-mobile">
                        <span class="step-number">04</span>
                        <span class="step-description ml35">Our products are HALAL certified</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-highlights mt85">
        <div class="uk-flex uk-flex-between">
            <div class="home-title">Our Products</div>
            <div class="medium-text-green">See all products</div>
        </div>
        <div class="best-seller no-container-right-mobile">
            <div class="container">
                <div class="best-frames">
                    <section class="related-products slider">
                        {% set index = 0 %}
                        {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
                        {% set index = index+1 %}
                        <div class="highlight-item column">
                            <a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">
                                {% if product.getMainImage %}
                                <img src="{{'assets/img/general/sale-c.png'|theme}}"
                                     srcset="{{'assets/img/general/sale@2x-c.png 2x'|theme}},
                                     {{'assets/img/general/sale@3x-c.png 3x'|theme}}"
                                     alt="" class="sale">
                                <img src="{{ product.getMainImage.path }}" class="cursor-pointer product-image">
                                {% endif %}
                                <div class="cursor-pointer small-title">{{ product.title }}</div>
                                <div class="previous-price">Rp 380.000</div>
                                <div class="price">Rp {{ product.getFinalPriceFormated }}</div>
                            </a>
                        </div>
                        {% else %}
                        <div class="no-data">no products</div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="home-testimonial mt85">
        <div class="uk-flex uk-flex-between">
            <div class="home-title">What they say about us</div>
        </div>

        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            {% for testimonial in testimonials %}
            <div>
                <div class="uk-card testimonial-item uk-card-body">
                    <div class="avatar">
                        <img src="{{testimonial.avatar.path}}"alt="{{testimonial.avatar.file_name}}" >
                    </div>
                    <div class="medium-text-green">{{testimonial.name}}</div>
                    <div class="testimonial-title">{{testimonial.title}}</div>
                    <div class="testimonial-description">
                        {{testimonial.testimonial}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% put scripts %}
    <script type="text/javascript">
        $(document).on('ready', function() {
            if ($(window).width() < 992) {
                $(".related-products").slick({
                    dots: false,
                    infinite: true,
                    centerMode: false,
                    slidesToShow: 3,
                    variableWidth: true,
                    arrows: false
                });
            }
            else {
                $(".related-products").slick({
                    dots: false,
                    infinite: true,
                    centerMode: false,
                    slidesToShow: 5,
                    variableWidth: true,
                    arrows: false
                });
            }
        });
    </script>
    {% endput %}
</div>
