title = "Order Tracking"
url = "/order-tracking"
layout = "default"
is_hidden = 0

[Jiri\JKShop\Components\OrderTracking ordertracking]
==

<div class="order-tracking-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="{{ 'homepage' | page }}">Home</a></li>
        <li><a href="{{ 'order-tracking' | page }}">Order Tracking</a></li>
    </ul>
    <div id="orderTrackingWrapper">
        {% component 'ordertracking' %}
    </div>
</div>
