title = "Return Policy"
url = "/return-policy"
layout = "default"
is_hidden = 0
==

<div class="privacy-policy-page return-policy-page uk-container">
    <h2>Return Policy</h2>
    <ol>
        <li>Untuk pesanan produk yang sudah diterima oleh Pembeli yang dapat diajukan permohonan Pengembalian Barang (Retur) dan Pengembalian Uang (Refund) adalah apabila Produk yang diterima dalam kondisi rusak sehingga tidak dapat dipakai, kadaluarsa, tidak sesuai dengan spesifikasi pesanan  dalam hal produk berbeda (salah ukuran atau salah produk).</li>
        <li>Untuk pesanan produk yang sudah diterima oleh Pembeli dalam kondisi jumlah produk kurang dari yang dipesan, Pembeli dapat mengajukan permohonan pengembalian uang untuk jumlah produk yang kurang diterima.</li>
        <li>Permohonan Retur dan/atau Refund selain dengan alasan yang disebutkan dalam Poin <b>1)</b> dan <b>2)</b> di atas,  tidak akan diproses.</li>
        <li>Permohonan Retur Produk dan/atau Refund hanya dapat diajukan ke pihak Customer Service lessential beauty paling lambat 2 (dua) hari kerja sejak pesanan produk diterima oleh Pembeli dengan menyampaikan pengaduan ke Customer lessential beauty (<a
            href="mailto:support@lessentialbeauty.id">support@lessentialbeauty.id</a>) lengkap dengan foto kondisi pesanan produk yang diterima.</li>
        <li>Pembeli wajib mengirimkan produk yang akan diretur paling lambat 3 hari kerja setelah memperoleh persetujuan dari Customer Service lessential beauty  ke alamat yang tertera disertakan dengan Formulir Retur yang diisi lengkap.</li>
        <li>Proses Refund ke rekening bank atas nama Pembeli akan dilakukan paling lambat 14 (empat belas) hari kerja sejak produk diterima di alamat yang tertera di Formulir Retur, atau sejak Permohonan Refund diterima dalam hal produk diterima kurang dari jumlah yang dipesan.</li>
    </ol>
</div>
