<ul class="uk-breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/all-products">Shop</a></li>
    {% if category %}
        <li><a href="/{{category.slug}}">{{category.title}}</a></li>
    {% endif %}
</ul>

<div class="uk-grid-small " uk-grid>
    <div class="left-column">
        <div class="side-menu">
            <div class="light-title">Categories</div>
            <ul>
                {% for cat in categories %}
                    <li class="mb15 fs16"><a href="/{{ cat.slug }}">{{ cat.title }}</a></li>
                {% endfor %}
            </ul>
            <hr>
            <form data-request="{{ __SELF__}}::onFilterProject" data-request-update="'{{__SELF__}}::list-of-products-id' : '#partialProject'">
                <div id="ProjectFilter" class="project-filter ui form">
                    <div class="light-title">Sort based on</div>
                    <div class="radio-item">
                        <input type="radio" id="latest" name="Sorting" value="0">
                        <label for="latest">Latest</label>
                    </div>

                    <div class="radio-item">
                        <input type="radio" id="popularity" name="Sorting" value="1">
                        <label for="popularity">Popularity</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="product-name" name="Sorting" value="2">
                        <label for="product-name">Product Name</label>
                    </div>
                    <hr>
                    <div class="light-title">Price</div>
                    <div class="radio-item">
                        <input type="radio" id="low" name="Sorting" value="3">
                        <label for="low">Low to High</label>
                    </div>

                    <div class="radio-item">
                        <input type="radio" id="high" name="Sorting" value="4">
                        <label for="high">High to Low</label>
                    </div>
                </div>
                <div id="log"></div>
            </form>
            {#<form data-request="{{ __SELF__}}::onFilterProject" data-request-update="'{{__SELF__}}::list-of-products-id' : '#partialProject'">#}
                {#<div id="ProjectFilter" class="project-filter ui form">#}
                    {#<div class="field">#}
                        {#<select class="ui fluid dropdown sorting" id="sorting" name="Sorting" name="Filter[perPage]">#}
                            {#<option value="0">Latest product</option>#}
                            {#<option value="1">Lowest price</option>#}
                            {#<option value="2">Highest price</option>#}
                        {#</select>#}
                        {#<select class="ui fluid dropdown perPage" name="PerPage" style="display: none;">#}
                            {#<option value="12">Semua Kategori</option>#}
                        {#</select>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        </div>
        <div class="clear-filter">
            <img src="{{'assets/img/icon/trash.png'|theme}}"
                 srcset="{{'assets/img/icon/trash@2x.png 2x'|theme}},
                 {{'assets/img/icon/trash@3x.png 3x'|theme}}" alt="trash">
            <span>CLEAR FILTER</span>
        </div>
    </div>
    <div class="right-column uk-width-expand@s">
        <div class="header-image">
            <img src="{{'assets/img/general/product-list-header-image.jpg'|theme}}" alt="Product List Header Image">
        </div>
        <div class="product-items">
            <div class="products-title">Showing Product <span class="fw500">1-10</span> from <span class="fw500">{{this.page.totalProducts}}</span></div>
            <div class="products-body">
                <div class="five column row" id="partialProject">
                    {% partial __SELF__~'::list-of-products-id'%}
                </div>
            </div>
        </div>
    </div>
</div>

{# JANGAN DIHAPUS!!!!!!!!!!#}
{#<div class="container">#}
  {#<form data-request="{{ __SELF__}}::onFilterProject"#}
      {#data-request-update="'{{__SELF__}}::list-of-products-id' : '#partialProject'">#}
    {#<div id="ajaxPagination" class="project-filter ui form">#}
      {#<div class="field" style="display:none;">#}
        {#<select class="ui fluid dropdown sorting" name="Sorting" id="sorting-dummy" name="Filter[perPage]">#}
          {#<option value="asc">Semua Kategori</option>#}
        {#</select>#}
        {#<select class="ui fluid dropdown perPage" name="PerPage">#}
          {#<option value="12">Semua Kategori</option>#}
        {#</select>#}
      {#</div>#}
      {#<div class="intro">#}
        {#<div class="title">#}
          {#<div class="Line-1"></div>#}
          {#<!-- <div class="best-title"><h2>You Might Also Like</h2></div> -->#}
          {#<div class="best-title">#}
            {#<button class="btn-01" id="submitProject" type="submit">LOAD MORE</button>#}
          {#</div>#}
          {#<div class="Line-2"></div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</form>#}
{#</div>#}

{% put scripts %}
    <script>
        $('.ui.dropdown').dropdown();
    </script>

    <script>
        // Amount of item found
        if ({{index}} > 1) {
            document.getElementById("cr1t1").innerHTML = "{{this.page.totalProducts}} Items Found";
        }
        else {
            document.getElementById("cr1t1").innerHTML = "{{this.page.totalProducts}} Item Found";
        }
    </script>

<script>
  // $('#sorting-dummy option').attr('value',sorting);
  (function($){
    $('#ProjectFilter').on('change', 'select, input', function(){
      // sorting = $('#sorting').find(":selected")[0].value;
      // $('#sorting-dummy option').attr('value',sorting);
        var $form = $(this).closest('form');
        $form.request();
    });

        })(jQuery);
    </script>

    <script>
        (function($){
            valueOption = 12;
            $('#submitProject').on('click', function(){
                valueOption = valueOption + 12;
                console.log(valueOption);
                $('.perPage option').attr('value',valueOption);
                var $form = $(this).closest('form');
                $form.request();
            });

        })(jQuery);
    </script>

    <script>
        if ($(window).width() < 992) {
            $("#partialProject").removeClass('five column row');
            $("#partialProject").addClass('three column row');
        }
        if ($(window).width() < 767) {
            $("#partialProject").removeClass('three column row');
            $("#partialProject").addClass('two column row');
        }
    </script>

{% endput %}
