{% set index = 0 %}
<div class="best-seller">
    <div class="best-frames">
        <div class="uk-child-width-1-2 uk-child-width-1-3@m  uk-child-width-1-4@l uk-grid-small related-products slider" uk-grid>
            {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
                {% set index = index+1 %}
                <div class="highlight-item column">
                    <a href="/{{product.categories[0].slug}}/{{product.slug}}">
                        {% if product.getMainImage %}
                            {#<img src="{{'assets/img/general/sale.png'|theme}}"#}
                            {#srcset="{{'assets/img/general/sale@2x.png 2x'|theme}},#}
                            {#{{'assets/img/general/sale@3x.png 3x'|theme}}"#}
                            {#alt="" class="sale">#}
                            <img src="{{ product.getMainImage.path }}" class="cursor-pointer product-image">
                        {% endif %}
                        <div class="cursor-pointer small-title">{{ product.title }}</div>
                        {#<div class="previous-price">Rp 380.000</div>#}
                        <div class="price">Rp {{ product.getFinalPriceFormated }}</div>
                    </a>
                </div>
            {% else %}
                <div class="no-data">no products</div>
            {% endfor %}
        </div>
    </div>
</div>
