.cart-page {
    padding-bottom: 130px;
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
    .summary-title {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.64;
        margin-bottom: 17px;
    }
    .right-column {
        width: 269px;
        .side-menu, .clear-filter {
            border: 1px solid $border;
            border-radius: 5px;
        }
        .side-menu {
            padding: 13px 21px 21px 18px;
            .voucher-text {
                margin-top: 19px;
                margin-bottom: 20px;
            }
            .total-text {
                font-size: 16px;
                color: $light-grey;
                margin-top: 16px;
                margin-bottom: 9px;
            }
            .total-price {
                font-size: 18px;
                font-weight: 500;
                color: $brownish-grey;
                margin-bottom: 20px;
            }
            .checkout-button {
                margin-top: 22px;
                text-align: center;
                font-size: 14px;
            }
        }
    }
    .left-column {
        border-radius: 5px;
        width: 100%;
        padding: 13px 26px 30px 27px;
        margin-left: 30px;
        .basket-product-row-wrapper {
            hr {
                margin-top: 0;
                margin-bottom: 0;
            }
            .increment-btn {
                flex: 1;
                max-width:172px;
                margin-left: auto;
                line-height: 28px;
                &:focus {
                    outline: none;
                }
                .ui.button {
                    background: #F6F6F6;
                    border: solid 1px #dfdfdf;
                    color: #8c8c8c;
                    &:hover {
                        background: #e0e1e2 none;
                        box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
                        color: rgba(0,0,0,.5);
                    }
                }
                .ui.input input {
                    height: 50px;
                    text-align: center;
                    padding: 0;
                    border-width: 1px;
                    line-height: 50px;
                    margin-right: -5px;
                    margin-left: -5px;
                    color: $light-black;
                    font-size: 16px;
                    font-weight: 500;
                    max-width: 75px;
                    &:focus {
                        outline: none;
                    }
                }
                .ui[class*="left action"].input>.button {
                    height: 52px;
                    padding: 0 0;
                    line-height: 50px;
                }
                .ui[class*="left action"].input>.button:first-child {
                    border-radius: 3.8px 0 0 3.8px;
                }
                .ui[class*="left action"].input>.button:last-child {
                    border-radius: 0 3.8px 3.8px 0;
                }
            }
            .row-2 {
                margin-top: 24px;
                margin-bottom: 24px;
                align-items: center;
                .small-image {
                    width: 93px;
                    height: 93px;
                    margin-right: 27px;
                }
                .title-price {
                    margin-top: -5px;
                    max-width: 370px;
                    .product-title {
                        line-height: 1.56;
                        color: $light-black;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .product-price {
                        color: $turtle-green;
                        font-size: 16px;
                        margin-top: 12.5px;
                    }
                }

            }
            .row-3 {
                margin-top: 32px;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .cart-page {
        padding-bottom: 84px;
        .left-column {
            .basket-product-row-wrapper {
                .row-2 {
                    .title-price {
                        max-width: 228px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .cart-page {
        padding-bottom: 77px;
        .uk-grid-medium {
            flex-direction: row;
            .right-column {
                width: 100%;
                .total-text-price {
                    overflow: auto;
                    margin-top: 16px;
                    margin-bottom: 18px;
                    .total-text {
                        float: left;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    .total-price {
                        float: right;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .checkout-button.btn-01 {
                    max-width: 230px;
                    margin-left: auto;
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {
    .cart-page {
        padding-top: 15px;
        padding-bottom: 58px;
        .summary-title {
            font-size: 20px;
            line-height: 1.8;
            margin-bottom: 13px;
        }
        .left-column {
            padding: 17px 16px 16px 18px;
            .basket-product-row-wrapper {
                .row-price-increment {
                    align-items: center;
                    margin-bottom: 24px;
                }
                .increment-btn {
                    max-width: 135.5px;
                    .ui.input input {
                        height: 39px;
                        line-height: 39px;
                        max-width: 58px;

                    }
                    .ui[class*="left action"].input>.button {
                        height: 41px;
                        line-height: 39px;
                    }
                }
                .row-2 {
                    .small-image {
                        width: 66px;
                        height: 66px;
                        margin-right: 14px;
                    }
                    .title-price {
                        max-width: 143px;
                        margin-top: 0;
                        .product-title {
                            line-height: 1.5;
                            color: $light-black;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .product-price {
                            color: $turtle-green;
                            font-size: 16px;
                            margin-top: 12.5px;
                        }
                    }
                }
                .row-3 {
                    margin-top: 16px;
                }
            }
        }
        .right-column {
            margin-top: 25px;
            .checkout-button.btn-01 {
                max-width: 100% !important;
            }
        }
    }
}
