.checkout-page {
    .left-column {
        .box-wrapper {
            margin-top: 25px;
            border-radius: 5px;
            .header {
                padding: 18px 24px 14px 24px;
                display: flex;
                justify-content: space-between;
                .left-header {
                    i {
                        margin-right: 11px;
                    }
                }
                .right-header {
                    ul.select-address {
                        margin-right: auto;
                        li {
                            display: inline;
                            margin-left: 27px;
                            a {
                                color: $turtle-green;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .body {
                padding: 22px 24px 26px 24px;
                ::placeholder {
                    font-size: 16px;
                }
                .detail-address {
                    .title {
                        margin-bottom: 14px;
                    }
                    .content {
                        line-height: 1.5;
                        margin-bottom: 19px;
                        max-width: 500px;
                        p {
                            font-size: 16px;
                        }
                    }
                }
                .notes {
                    margin-top: 21px;
                    input {
                        width: calc(100% - 40px);
                        border-radius: 5px;
                        padding: 15px 20px 15px 20px;
                        font-size: 16px;
                    }
                    .title {
                        margin-bottom: 12px;
                    }
                }
                .basket-product-row-wrapper {
                    .row-2 {
                        &:first-child {
                            margin-top: 0;
                        }
                        .small-image {
                            img {
                                border-radius: 3px;
                            }
                        }
                        .increment-btn {
                            .ui.input input {
                                height: 40px;
                                line-height: 40px;
                            }
                            .ui[class*="left action"].input>.button {
                                height: 42px;
                                line-height: 40px;
                            }
                        }
                    }
                }
                .courier {
                    margin-top: 16px;
                    .title {
                        margin-bottom: 12px;
                    }
                }
                .payment-item {
                    font-size: 16px;
                    padding: 15px 20px 15px 20px;
                    border: 1.5px solid $turtle-green;
                    border-radius: 5px;
                    p {
                        margin-left: 25px;
                    }
                }
            }
            &.product-list {
                padding-bottom: 0;
                .header {
                    .right-header {
                        display: flex;
                        align-items: center;
                        p {
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
    }

    .right-column {
        .side-menu {
            .total-text-price {
                margin-top: 19px;
                margin-bottom: 19px;
                .total-text {
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                .total-price {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.modal-address .uk-modal-body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.jneDestinationCodeFieldGroup {
    height: 0;
    opacity: 0;
    margin-top: -20px !important;
    label, input {
        height: 0;
        opacity: 0;
    }
}

#shippingService, #shippingName {
    height: 0;
    opacity: 0;
}

@media only screen and (max-width: 767px) {
    .checkout-page {
        .left-column {
            .box-wrapper {
                margin-top: 20px;
                .header {
                    padding: 15px 20px 15px 20px;
                    .right-header {
                        ul.select-address {
                            li {
                                margin-left: 0;
                                a {
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                .basket-product-row-wrapper {
                    .increment-btn {
                        .ui.input input {
                            height: 38px;
                            line-height: 38px;
                            max-width: 48px !important;
                        }
                        .ui[class*="left action"].input>.button {
                            height: 40px;
                            line-height: 38px;
                        }
                    }
                }
                .body {
                    padding: 22px 19px 21px 19px;
                    ::placeholder {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                    .detail-address {
                        .content {
                            margin-bottom: 21px;
                            max-width: 100%;
                        }
                    }
                    .notes {
                        input {
                            line-height: 1.5;
                            padding: 10px 20px 10px 20px;
                            font-size: 16px;

                        }
                    }
                }
            }
        }

        .right-column {
            .side-menu {
                .total-text-price {
                    margin-top: 19px;
                    margin-bottom: 19px;
                    .total-text {
                        font-size: 14px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    .total-price {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
