/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
    line-height: normal;
}

body{
    -webkit-font-smoothing: antialiased;
    background: #fff;
    font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: $light-black;
}

.uk-container {
    //max-width: 1230px;
    max-width: 1140px;
}

.inline {
    display: inline;
}

.fldr {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    //flex-direction: row-reverse;
    flex-direction: row;
}

.fl1 {
    flex: 1;
}

.fl2 {
    flex: 2;
}

.fl2p5 {
    flex: 2.5;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mr0 {
    margin-right: 0 !important;
}

.mr12 {
    margin-right: 12px;
}

.mr20 {
    margin-right: 20px;
}

.mr50 {
    margin-right: 50px;
}


.ml0 {
    margin-left: 0 !important;
}
.ml5 {
    margin-left: 5px;
}

.ml12 {
    margin-left: 12px;
}

.mt150 {
    margin-top: 150px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb13 {
    margin-bottom: 13px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb17 {
    margin-bottom: 17px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb28 {
    margin-bottom: 28px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb120 {
    margin-bottom: 120px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml28 {
    margin-left: 28px;
}

.p25 {
    padding: 25px;
}

.pt3 {
    padding-top: 3px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt60 {
    padding-top: 60px;
}

.pr0 {
    padding-right: 0 !important;
}

.pr50 {
    padding-right: 50px;
}
.pb0 {
    padding-bottom: 0px;
}
.pb17 {
    padding-bottom: 17px;
}
.pl0 {
    padding-left: 0 !important;
}
.pl10 {
    padding-left: 10px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

ul, a {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
}

* + p, p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border-top-color: #ececec;
}

.h28 {
    font-size: 28px;
    font-weight: 600;
    color: #4a4a4a;
}

.h30 {
    font-size: 30px;
    font-weight: bold;
    color: #4a4a4a;
}

.p16 {
    font-size: 16px;
}

.fw-normal {
    font-weight: normal !important;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.bg-turtle-green {
    background-color: $turtle-green;
    color: #fff;
}

.fc-white {
    color: #fff;
}

.fc-turtle-green {
    color: $turtle-green;
}

a:hover {
    text-decoration: none;
    color: inherit;
    opacity: .85;
    transition: all .3s ease-in-out;
}

a.fc-white:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}

a.fc-turtle-green:hover {
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: $turtle-green;
}

::placeholder {
    color: #d1d1d1;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d1d1d1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #d1d1d1;
}

.full-width {
    width: 100%;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.float-none {
    float: none;
}

.right-align {
    text-align: right;
}

.btn-01 {
    border-radius: 3px;
    background-color: $turtle-green;
    box-shadow: 0 1px 1px 0 rgba(122, 122, 122, 0.5);
    font-weight: bold;
    color: #ffffff;
    margin-top: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

input:focus {
    outline: none !important;
}

/*
|--------------------------------------------------------------------------
| Color
|--------------------------------------------------------------------------
*/

.light-grey {
    color: #9b9b9b !important;
}

.brownish-grey {
    color: #696969;
}

.light-black {
    color: #4a4a4a !important;
}

.turtle-green {
    color: #94c33f;
}

.border {
    border: 1px solid #ececec;
}

/*
|--------------------------------------------------------------------------
| UI Kit Custom
|--------------------------------------------------------------------------
*/

.uk-breadcrumb {
    color: #9b9b9b;
    font-size: 14px;
    margin: 25px 0;
    a {
        color: $turtle-green;
    }
    & > :last-child > * {
        color: #9b9b9b;
    }
    & > :nth-child(n+2):not(.uk-first-column)::before {
        margin: 0 5px;
    }
}

.uk-input, .uk-button {
    border-radius: 3px;
}

.uk-button {
    transition: all .2s ease-in-out;
}

.uk-button-default:hover, .uk-button-default:focus {
    background-color: #9ec952;
    color: #fff;
    border-color: unset;
}

.uk-input, .uk-select:not([multiple]):not([size]) {
    height: 40px;
    border-radius: 3px;
    border-color: $border;
    padding-left: 20px;
    padding-right: 20px;
    background-position: 99% 50%;
}

.uk-select[multiple], .uk-select[size], .uk-textarea {
    border-radius: 3px;
    border-color: $border;
}

.uk-radio, .uk-checkbox {
    margin-top: 0;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
    background-color: $turtle-green !important;
}

.uk-radio:focus, .uk-checkbox:focus {
    border-color: $turtle-green !important;
    border-radius: 2px;
}

.uk-button-primary {
    background-color: $turtle-green;
    &:hover, &:focus, &:active {
        background-color: $turtle-green;
        opacity: .85;
    }
}


/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/

.info-box {
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 15px 20px 20px 20px;
    font-size: 14px;
    line-height: 1.57;
    margin-top: 20px;
}

.number-list {
    display: inline-block;
    background-color: $turtle-green;
    border-radius: 50px;
    color: #fff;
    font-size: 12.6px;
    width: 18px;
    padding: 3px;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
}

.small-link {
    color: $turtle-green;
    font-weight: 500;
}

/*.container{
    max-width: 40em;
    margin:0 auto;
}*/

/*.container {
        width: 1130px;
        margin: 0 auto;
    }*/

//*{
//    box-sizing:border-box;
//}
//
//a {
//    color: #e81c4f;
//    color: #ff9966;
//}
//
//a:hover, a:focus {
//    color: #ff9966;
//}
//
///*
//|--------------------------------------------------------------------------
//| Gallery
//|--------------------------------------------------------------------------
//*/
//
//.gallery{
//    padding:20px 15px;
//    background: #efefef;
//    border:1px solid #ccc;
//    border-radius:3px;
//    li{
//        float: left;
//        margin:5px;
//    }
//
//    img, a{
//        display: block;
//    }
//}
//
//
///* =======================================================================
//## ++ Cleafix
//========================================================================== */
//
///* float clearing for IE6 */
//* html .clearfix{
// height: 1%;
// overflow: visible;
//}
//
///* float clearing for IE7 */
//*+html .clearfix{
// min-height: 1%;
//}
//
///* float clearing for everyone else */
//.clearfix:after{
// clear: both;
// content: ".";
// display: block;
// height: 0;
// visibility: hidden;
// font-size: 0;
//}
//
//.clr{clear:both;}
//.clr{content:"test";}
//
//
///*
//|--------------------------------------------------------------------------
//| Media Query
//|--------------------------------------------------------------------------
//*/

.show-tablet {
    display: none;
}

.show-mobile {
    display: none;
}

.show-mobile-flex {
    display: none;
}

.show-tablet-inline {
    display: none;
}

.show-mobile-inline {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.disabledButton {
    background-color: #6c757d;
}

.hiddenSelectBox {
    height: 0 !important;
    opacity: 0;
    margin: 0 !important;
    border: 0 !important;
}

@media only screen and (max-width: 1199px) {
    .hide-tablet {
        display: none !important;
    }
    .show-tablet {
        display: block;
    }
    .show-tablet-inline {
        display: inline;
    }
}

@media (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
    .uk-breadcrumb {
        display: none;
    }
    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block;
    }

    .show-mobile-inline {
        display: inline !important;
    }

    .show-mobile-flex {
        display: flex;
    }

    .fl3-mobile {
        flex: 3;
    }

    .block-mobile {
        display: block;
    }

    .mr0-mobile {
        margin-right: 0;
    }

    .no-container-mobile {
        margin-left: -15px;
        margin-right: -15px;
    }

    .no-container-right-mobile {
        margin-right: -15px;
    }

    .flex-mobile {
        display: flex;
    }
    .info-box {
        padding: 10px 18px 14px 18px;
    }
}
