.topHeader {
    height: 35px;
    background-color: $turtle-green;
    color: $white;
    flex: 1;
    .icon-left-text {
        object-fit: contain;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        display: inline;
        padding-right: 8px;
    }
    .icon-text {
        margin-left: 28px;
    }
    .topHeaderText {
        font-size: 14px;
        line-height: 35px;
        display: inline;
    }
}

.bottomHeader {
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 #cfcfcf80;
    box-shadow: 0 2px 4px 0 #cfcfcf80;
    border-bottom: 0;
    .logo:hover {
        cursor: pointer;
    }
    li {
        display: inline;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .search-icon {
        padding-right: 25px;
        padding-left: 0;
    }
    .cart-icon {
        padding-left: 25px;
        border-left: 1px solid #d9d9d9;
        position: relative;
        #basket-quantity {
            position: absolute;
            line-height: normal;
            top: -5px;
            right: -14px;
            text-align: center;
            color: #fff;
            font-size: 11px;
            font-weight: bold;
            .basket-quantity-inner {
                padding: 2.5px;
                width: 13px;
                border-radius: 40px;
                background-color: $red;
                &.empty-cart {
                    display: none;
                }
            }
        }
    }
    .navigation {
        float: right;
        ul {
            padding-left: 0;
            .navbar-text {
                font-size: 16px;
                font-weight: bold;
                color: #404040;
                margin-right: 35px;
                &:hover {
                    cursor: pointer;
                    color: #404040;
                    opacity: .7;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    text-decoration: none;
                }
                &.active {
                    color: $turtle-green;
                }
            }
        }
        .user-dropdown-wrapper {
            padding-top: 8px;
            .user-dropdown {
                .fa-user-circle {
                    font-size: 32px;
                    color: #BCB5B9;
                }
                .user-dropdown-wrapper {
                    width: 32px;
                    height: 32px;
                    border-radius: 65px;
                }
            }
        }
        .ui.popup {
            ul {
                padding: 0 25px 18px 25px;
            }
        }
    }
}

.header.smaller {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    .topHeader {
        margin-bottom: 80px;
    }
    .bottomHeader {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        .uk-container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .uk-navbar-dropbar-slide {
        position: fixed;
    }
}

.navbar-dropdown {
    .uk-navbar-container {
        -webkit-box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
        box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
        z-index: 999;
        .uk-navbar-left {
            &.bottomHeader {
                line-height: normal;
                .uk-navbar-dropdown {
                    left: 0 !important;
                    padding: 0;
                    z-index: -999;
                    width: 100%;
                    line-height: normal;
                    &.uk-open {
                        top: 70px !important;
                    }
                    .uk-navbar-dropdown-nav {
                        border-top: 1px $border solid;
                        padding-top: 5px;
                        padding-bottom: 15px;
                        padding-left: 30px;
                        padding-right: 30px;
                        a {
                            font-size: 16px;
                            font-weight: 500;
                            color: $light-black;
                            padding: 12px 0;
                            &.active {
                                color: $turtle-green;
                            }
                        }
                    }
                }
                .logo {
                    align-self: center;
                }
                .header-menu {
                    line-height: 70px;
                }
            }
        }
    }
    .uk-navbar-dropbar-slide {
        top: 70px;
    }
}

#modal-center {
    &.uk-modal {
        padding-top: 100px;
        padding-right: calc(100% - 1230px - ((100% - 1230px) / 2));
    }
    .uk-modal-dialog {
        margin-right: 0;
        width: 318px;
        padding: 16px 16px 14px 16px;
        border-radius: 5px;
        .row-1 {
            margin-bottom: 18px;
        }
        .basket-product-row-wrapper {
            hr {
                margin-top: 12px;
                margin-bottom: 12px;
            }
            .row-2 {
                .small-image {
                    width: 47px;
                    height: 47px;
                    margin-right: 13px;
                }
                .title-price {
                    margin-top: -5px;
                    .product-title {
                        line-height: 1.5;
                        color: $light-black;
                        margin-bottom: 4px;
                        font-size: 14px;
                    }
                    .product-price {
                        line-height: 1.75;
                        color: $turtle-green;
                        font-size: 12px;
                    }
                }
            }
            .row-3 {
                align-items: center;
                .subtotal-text {
                    font-size: 14px;
                    color: $light-grey;
                    margin-bottom: 8px;
                }
                .btn-01 {
                    padding: 10px 36px;
                    font-size: 14px;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

//.ui.search {
//  display: inline-block;
//  margin-right: 39px;
//}
//
//.search---FontAwesome, .User---simple-line-icons, .shopping-bag---FontAwesome, .header .icon-rect span {
//  object-fit: contain;
//  font-size: 15px;
//  text-align: left;
//  color: #575757;
//  margin-right: 20px;
//  cursor: pointer;
//}
//
//.header .icon-rect .fa-shopping-cart {
//  margin-right: 0;
//}
//
//.shopping-bag---FontAwesome {
//  margin-right: 0;
//}
//
//.header .ui.grid {
//  margin-right: 0;
//  margin-top: 0;
//}
//
//.header .ui.grid>.row {
//  padding: 0;
//}
//
//.rect-nav .twelve.column.row .column {
//  font-family: HelveticaNeue;
//  font-family: 'Helvetica-Neue-Interface';
//  font-size: 10px;
//  color: #575757;
//  text-align: center;
//}
//
//.rect-nav a {
//  color: #575757;
//}
//
//.header .icon-rect a {
//  color: #575757;
//}
//
//[data-position="bottom left"][data-tooltip]:before {
//    left: 0;
//}
//
//[data-position="bottom left"][data-tooltip]:after {
//    left: -1rem;
//}
//
//.user-dropdown {
//  position: relative;
//}
//
//.user-dropdown .circle-user.active {
//    color: #8BC43F;
//}
//
//.user-dropdown .circle-user, .icon-header .circle-user {
//    position: absolute;
//    top: -0.6rem;
//    left: 0.7rem;
//    font-size: 7px;
//}
//
//.header .icon-rect span:last-child {
//  margin-right: 0;
//}
//
//
//.ui.vertical.menu .item>.Behaku.sidebar-logo {
//  margin-left: 50px;
//  margin-left: 20%;
//}
//
//.ui.menu b {
//  text-transform: uppercase;
//  color: #575757;
//}
//
//.ui.menu .item {
//  padding-top: 1rem;
//  padding-bottom: 1rem;
//}


/* Media Query */

@media only screen and (max-width: 1199px) {
    .header {
        .bottomHeader {
            .navigation {
                ul {
                    padding-left: 0;
                    .navbar-text {
                        font-size: 14px;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
    #modal-center {
        &.uk-modal {
            padding-right: 30px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        .bottomHeader {
            .navigation {
                flex: 2.5;
                ul {
                    .navbar-text {
                        margin-right: 25px;
                    }
                }
                .user-dropdown-wrapper {
                    margin-left: 25px;
                }
            }
        }
    }
    #modal-center {
        &.uk-modal {
            padding-right: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        &.smaller {
            .topHeader {
                margin-bottom: 70px;
            }
        }
        .icon-text {
            margin-left: 20px;
        }
        .icon-text.mr0 {
            margin-right: 0;
        }
        .icon-text.mr0.ml28 {
            margin-left: 20px;
            margin-right: 0;
        }

        .topHeader {
            height: 30px;
            .topHeaderText {
                font-size: 12px;
                line-height: 30px;
            }
        }

        .bottomHeader {
            height: 70px;
            line-height: 70px;
            .uk-navbar-nav > li > a {
                min-height: 70px;
            }
            .cart-icon {
                border-left: none;
                padding-left: 0;
                padding-right: 25px;
                #basket-quantity {
                    right: 15px;
                }
            }
        }
    }

    #modal-center {
        &.uk-modal {
            padding-left: 15px;
            padding-right: 15px;
        }
        .uk-modal-dialog {
            width: 100%;
            padding: 11px 19px 14px 16px;
        }
    }
}
