.homepage {
    padding-top: 24px;
    padding-bottom: 105px;
}

.home-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #4a4a4a;
    padding-bottom: 45px;
}

.medium-text-green {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: $turtle-green;
}

.small-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    color: #4a4a4a;
    a {
        color: #4a4a4a;
    }
}

.previous-price {
    font-size: 16px;
    color: #9b9b9b;
    text-decoration:line-through;
    min-height: 27px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: $turtle-green;
}

.homepageSlider {
    height: 482px;
    max-height: 482px;
    position: relative;
    .uk-slideshow-items {
        height: 482px;
        max-height: 482px;
        min-height: 0 !important;
        border-radius: 10px;
    }
    .uk-slideshow-nav {
        position: absolute;
        a {
            background-color: $white;
            border-color: transparent;
        }
        .uk-active a {
            background-color: $turtle-green;
        }
    }

    img {
        height: 482px !important;
        object-fit: cover;
        object-position: 10% 50%;
    }
}

.home-description-section-1 {
    margin-top: 70px;
    .home-title {
        font-family: 'Lobster', 'Open Sans', sans-serif;
        font-size: 35px;
        color: #4c4c4c;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 1.1em;
        padding-bottom: 60px;
        font-weight: 500;
        margin-left: 15px;
        margin-right: 15px;
    }
    .home-description {
        position: relative;
        img {
            height: 450px;
        }
        .description-text {
            width: 100%;
            max-width: 510px;
            //height: 430px;
            border-radius: 10px;
            background-color: $turtle-green;
            position: absolute;
            right: 0;
            top: 60px;
            color: $white;
            padding: 45px 68px;
            .description-text-1 {
                font-family: 'Open Sans', sans-serif;
                font-size: 30px;
                font-weight: bold;
                padding-bottom: 8px;
                //padding-top: 47px;
            }
            .description-text-2 {
                font-size: 22px;
                font-weight: 500;
                padding-bottom: 30px;
            }
            .description-text-3 {
                font-size: 20px;
                //padding-bottom: 47px;
                max-width: 580px;
                line-height: 1.59;
            }
        }
    }
}

.home-description-section-2 {
    margin-top: 135px;
    img {
        max-width: initial;
        height: 450px;
    }
    .section-2-step-parent {
        height: 450px;
        .uk-flex-column {
            height: 450px;
        }
    }
    .section-2-step {
        width: 100%;
        //height: 100px;
        border-radius: 10px;
        background-color: #fbfbfb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .step-number {
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            font-weight: 600;
            color: $turtle-green;
            margin-left: 33px;
        }
        .step-description {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #4a4a4a;
        }
    }
}

.home-highlights {
    .uk-grid {
        margin-left: -22px;
    }
    .uk-grid > * {
        padding-left: 0;
        margin-left: 22px;
    }
}

// Related Products

.best-seller {
    .best-frames .slick-slide {
        margin-right: 22px;
    }

    .highlight-item {
        position: relative;
        max-width: 268.5px;
        .sale {
            position: absolute;
            top: 0;
            left: 0;
        }
        .small-title {
            margin-top: 15.5px;
            min-height: 60px;
        }

        .previous-price {
            margin-top: 14.5px;
            margin-bottom: 6px;
        }

        img.cursor-pointer {
            border-radius: 8px;
        }
    }
}



.home-testimonial {
    min-height: 440px;
    .uk-grid {
        margin-left: -30px;
    }
    .uk-grid > * {
        padding-left: 0;
        margin-left: 30px;
    }
    .testimonial-item {
        background-color: #fbfbfb;
        border-radius: 10px;
        .avatar {
            padding-top: 8px;
        }
        .medium-text-green {
            margin-top: 18px;
        }

        .testimonial-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 2.25;
            text-align: center;
            color: #9b9b9b;
        }
        .testimonial-description {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 1.75;
            text-align: center;
            color: #4a4a4a;
            margin-top: 20px;
        }
    }
}



@media (min-width: 1200px) {
    .home-testimonial {
        .uk-card-body {
            padding: 40px 30px;
        }
    }
}











.rect-nav {
    display: block;
    height: 32px;
    border-bottom: solid 1px #dfdfdf;
    text-transform: uppercase;
}

.rect-nav .container {
    line-height: 32px;
}

.rect-nav .ui.grid {
    margin-top: 0;
}

.rect-nav .ui.grid>.row {
    padding: 0;
}

.image-slider-2 {
    width: 100%;
    height: auto;
}

.best-seller {
    margin-top: 0;
}

.best-seller .intro .title {
    width: 100%;
}

.Line-1, .Line-2 {
    width: 35%;
    height: 3px;
    border-bottom: solid 1px #dfdfdf;
    display: inline-block;
    line-height: 42px;
}

.best-title {
    display: inline-block;
    margin: 0 auto;
    width: 29%;
}

.best-seller .title h2, .rectangle-5 .title h2 {
    text-align: center;
    margin: 0 auto;
    height: 42px;
    font-family: Palatino;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.Shop-our-latest-tren {
    font-family: Helvetica;
    font-size: 13px;
    text-align: center;
    color: #a5a5a5;
    margin-top: 9px;
}

.best-frames {
    margin-top: 0;
}

.best-frames .frame-1 {
    width: 190px;
    /*width: 100%;*/
    /*height: 394px;
    height: 410px;*/
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
    border-top: 0.2px solid rgba(199, 199, 199, 0.5);
    display: inline-block;
}

.image-1 {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin: 4px 4px 0 4px;
}

.best-frames .frame-1 {
    position: relative;
}

.heart-o---FontAwesome {
    position: absolute;
    top: 12px;
    right: 12px;
}

.Rectangle-7 {
    /*width: 227px;*/
    /*height: 93px;*/
    /*background-color: #fefefe;*/
    padding: 10px 12px 14px 12px;
}

.best-frames .frame-1-price {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #575757;
    margin-bottom: 4px;
}

.best-frames .frame-1-description {
    font-family: Helvetica;
    font-size: 13px;
    text-align: left;
    color: #a5a5a5;
    /*margin-bottom: 8px;*/
}

.frame-1-star {
    font-size: 10px;
    color: #f5b975;
    margin-right: 3px;
    display: inline-block;
}

.the-brand-boutique {
    margin-top: 89px;
}

.tb2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-brand-boutique .say-hello {
    font-family: Palatino;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: #575757;
}

.the-brand-boutique .the-brand {
    display: inline-block;
}

.the-brand-boutique .tb2 h3 {
    font-family: Palatino;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #575757;
}

.hr-inline {
    display: inline-block;
    width: 850px;
    height: 1px;
    border: 0;
    border-top: 1px solid #dfdfdf;
    padding: 0;
}

.see-more {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    float: right;
    color: #f5a623;
    line-height: 41px;
}

.see-more p, .see-more i {
    display: inline-block;
}

.tb3 {
    font-family: Helvetica;
    font-size: 13px;
    text-align: left;
    color: #a5a5a5;
    margin-top: 3px;
}

.tbb-frames {
    margin-top: 33px;
}

.tbb-frames .frame-1 {
    height: 616px;
    background-color: #d8d8d8;
    box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.tbb-frames .frame-2, .frame-2 {
    height: 294px;
    background-color: #d8d8d8;
    box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.tbb-frames .frame-3 {
    height: 244px;
    background-color: #d8d8d8;
    box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.tbb-frames .image-5, .tbb-frames .image-6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tbb-frames .frame-1 {
    position: relative;
}

.tbb-text-01 {
    position: absolute;
    /*left: 50%;*/
    top: 71px;
    top: 110px;
    /*top: 94px;*/
    right: 30px;
    right: 70px;
    text-align: center;
}

.tbb-text-001, .tbb-text-002, .tbb-text-003, .tbb-text-004 {
    position: relative;
    /*left: -50%;*/
    font-family: Helvetica;
    color: #575757;
    display: block;
}

.tbb-text-001 {
    font-size: 28px;
    font-weight: bold;
}

.tbb-text-002 {
    font-size: 18px;
    margin-top: 12.4px;
}

.tbb-text-003 {
    font-size: 14px;
    margin-top: 26.6px;
}

.tbb-text-004 {
    font-family: sans-serif;
    font-family: 'Helvetica-Neue-Interface';
    font-size: 36px;
    font-weight: bold;
    margin-top: 35.6px;
}

.rectangle-5 {
    background-color: #f8f8f8;
    padding-top: 57px;
    padding-bottom: 107px;
    margin-top: 105px;
}

.r5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-8 {
    width: 313px;
    width: 290px;
    /*height: 356px;*/
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
}

.rectangle-5 .ui.grid {
    margin-top: 41px;
}

.rectangle-5 .image-02 {
    width: 100%;
}

.r5-text-01 {
    padding: 13.6px 11.7px 14.2px 11.7px;
}

.r5-text-001 {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 1.67;
    color: #f5a623;
}

.r5-text-002 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #575757;
    margin-top: 9px;
}

.r5-text-003 {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #a5a5a5;
    margin-top: 5.3px;
}

.hr-inline.hi2 {
    width: 165px;
}

.read-more {
    display: inline-block;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #f5a623;
}

.r5-text-004 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10.5px;
}

.ui.divided.grid:not([class*="vertically divided"])>.row>.column {
    box-shadow: -2px 0 0 0 #ededed;
}

.tbb-frames .icon.fa-shopping-bag {
    margin-left: 6.2px;
}

.frame-2 {
    position: relative;
}

.homepage .slider {
    position: relative;
}

.valign-left, .valign-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0.8;
    font-size: 60px;
}

.valign-right {
    right: 0;
}

.best-seller {
    position: relative;
}

.best-seller .icon.fa-angle-left, .item-row-3 .icon.fa-angle-left {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: #aeaeae;
    opacity: 0.6;
    font-size: 60px;
    left: 0;
}

.best-seller .icon.fa-angle-right, .item-row-3 .icon.fa-angle-right {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: #aeaeae;
    opacity: 0.6;
    font-size: 60px;
    right: 0;
}

.frame-2-content {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.tbb-frames .f2c-1 {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.tbb-frames .f2c-2 {
    width: 109px;
    height: 27px;
    border-radius: 100px;
    border: solid 2px #ffffff;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 8px auto;
}

.tbb-frames .frame-2 img {
    display: block;
    opacity: 0.8;
    background: red;
}

.frame-2-content {
    opacity: 1;
}

.frame-2-container {
    background: #000;
    height: 100%;
}

.tbb-title-tab {
    display: none;
}

.tablet-column {
    display: none !important;
}

/* Media Query */

@media only screen and (max-width: 991px) {
    .homepage {
        padding-bottom: 74px;
    }

    .home-title {
        font-size: 24px;
        padding-bottom: 26px;
    }

    .medium-text-green {
        font-size: 18px;
    }

    .small-title {
        font-size: 16px;
        line-height: 1.53;
    }

    .price {
        font-size: 22px;
    }

    .homepageSlider {
        height: 355px;
        max-height: 355px;
        .uk-slideshow-items {
            height: 355px;
            max-height: 355px;
        }
        img {
            height: 355px !important;
        }
    }

    .home-description-section-1 {
        //margin-top: 30px;
        margin-top: 60px;
        .home-title {
            //padding-bottom: 25px;
            padding-bottom: 60px;
            //font-size: 24px;
            font-size: 35px;
        }
    }

    .home-description-section-1 {
        .home-description {
            img {
                height: 320px;
            }
            .description-text {
                padding: 30px 45px;
                max-width: 400px;
                .description-text-1 {
                    font-size: 24px;
                    padding-bottom: 4px;
                }
                .description-text-2 {
                    padding-bottom: 19.5px;
                    font-size: 16px;
                }
                .description-text-3 {
                    font-size: 15px;
                    line-height: 1.63;
                }
            }
        }
    }

    .home-description-section-2 {
        img {
            height: 260px;
        }
        .section-2-step-parent {
            height: 260px;
            margin-left: -2px;
            .uk-flex-column {
                height: 260px;
            }
        }
        .section-2-step {
            margin-bottom: 8px;
            .step-number {
                font-size: 20px;
                margin-left: 19px;
            }
            .step-description {
                font-size: 15px;
                margin-left: 10px;
            }
        }
        .ml12.uk-flex.uk-flex-column {
            margin-left: 0;
        }
    }

    .home-highlights.mt85 {
        margin-top: 52px;
        .uk-grid {
            margin-left: -15px;
        }
        .uk-grid > * {
            margin-left: 15px;
        }

        .highlight-item {
            .small-title {
                margin-top: 12.5px;
                //min-height: 72px;
            }

            .previous-price {
                margin-top: 10px;
                margin-bottom: 2px;
            }
        }
    }
    .home-testimonial.mt85 {
        margin-top: 50px;
        .uk-grid {
            margin-left: -15px;
        }
        .uk-grid > * {
            margin-left: 15px;
        }
        .uk-card.testimonial-item.uk-card-body {
            padding-left: 20px;
            padding-right: 20px;
            min-height: 400px;
        }
        .testimonial-item {
            background-color: #fbfbfb;
            border-radius: 10px;
            .medium-text-green {
                margin-top: 14.5px;
            }

            .testimonial-title {
                font-size: 12px;
                line-height: 2.4;
            }
            .testimonial-description {
                font-size: 14px;
                line-height: 1.5;
                margin-top: 14.5px;
            }
        }
    }

    .homepage {
        .rect-nav {
            display: none;
        }
        .Line-1, .Line-2 {
            width: 29.5%;
        }
        .best-title {
            width: 39.5%;
        }
        .best-frames .slick-arrow, .best-frames .slick-arrow:hover, .best-frames .slick-arrow:focus {
            background: #f5a623;
            color: #fff;
        }
        .best-frames .slick-prev {
            left: 0;
            top: 35%;
            z-index: 999;
        }
        .best-frames .slick-next {
            right: 0;
            top: 35%;
            z-index: 999;
        }
        .best-frames .slick-prev:before {
            content: "\f104";
        }
        .best-frames .slick-next:before {
            content: "\f105";
        }
        .best-frames .slick-prev:before, .best-frames .slick-next:before  {
            font-family: FontAwesome;
            color: #fff;
            font-size: 30px;
        }
        .best-frames .slick-prev, .best-frames .slick-next {
            width: 30px;
            height: 30px;
            height: 35px;
        }
        .tbb-title {
            display: none;
        }
        .tbb-title-tab {
            display: block;
            .Line-1, .Line-2 {
                width: 20%;
            }
            .best-title {
                width: 58.5%;
            }
        }
        .the-brand-boutique {
            margin-top: 60px;
        }
        .tbb-frames .frame-1 {
            height: 479px;
        }
        .tbb-frames .frame-2, .frame-2 {
            height: 225.5px;
        }
        .computer-column {
            display: none !important;
        }
        .tbb-frames .sixteen.wide.tablet.column .frame-2 {
            height: 244px;
        }
        .tablet-column {
            display: block !important;
        }
        .ui.column.grid>[class*="ten wide tablet"].column, .ui.grid>.column.row>[class*="ten wide tablet"].column, .ui.grid>.row>[class*="ten wide tablet"].column, .ui.grid>[class*="ten wide tablet"].column {
            width: 510px!important;
        }
        .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
            width: 255px!important;
        }
        .tbb-text-01 {
            top: 71px;
            right: 24px;
        }
        .rectangle-5 {
            margin-top: 17px;
            padding-bottom: 79px;
        }
        .rectangle-5 .best-title {
            width: 45.5%;
        }
        .rectangle-5 .Line-1, .rectangle-5 .Line-2 {
            width: 26.5%;
        }
        .rectangle-5 .ui.grid {
            margin-top: 27px;
        }
        .rectangle-8 {
            width: 100%;
        }
        #responsive-js-1 .article-column {
            margin-bottom: 28px;
        }
        .rectangle-6 .container {
            display: block;
            text-align: center;
            .r6-text-01, .r6-text-02 {
                text-align: center;
            }
            .r6-text-01 {
                margin-bottom: 7px;
            }
            .r6-text-02 {
                margin-bottom: 19px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .home-title {
        font-size: 18px;
        padding-bottom: 17px;
    }
    .homepage {
        padding-top: 0;
        padding-bottom: 36px;
    }

    .previous-price {
        font-size: 11px;
    }

    .price {
        font-size: 17.5px;
    }

    .small-title {
        font-size: 13px;
    }

    .homepageSlider {
        height: 171px;
        max-height: 171px;
        margin-left: -15px;
        margin-right: -15px;
        .uk-slideshow-items {
            height: 171px;
            max-height: 171px;
            border-radius: 0;
        }
        img {
            height: 171px !important;
        }
    }

    .home-description-section-1 {
        //margin-top: 32px;
        margin-top: 60px;
        .home-title {
            //font-size: 18px;
            font-size: 35px;
            text-align: center;
            //padding-bottom: 23px;
            padding-bottom: 60px;
        }

        .home-description {
            img {
                height: auto;
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .description-text {
                width: auto;
                border-radius: 0;
                position: static;
                padding: 20px 25px;
                .description-text-1 {
                    font-size: 24px;
                    padding-bottom: 3px;
                }
                .description-text-2 {
                    font-size: 16px;
                    line-height: 1.5;
                    padding-bottom: 14px;
                }
                .description-text-3 {
                    font-size: 15px;
                    line-height: 1.5;
                }
            }
        }
    }

    .home-description-section-2 {
        margin-top: 0;
        img {
            width: 100%;
            height: auto;
        }
        .section-2-step-parent {
            height: 250px;
            .uk-flex-column {
                height: 250px;
            }
        }
        .section-2-step {
            width: 100%;
            border-radius: 5px;
            &:first-child {
                margin-top: 7.5px;
            }
            .step-number {
                font-size: 18px;
                margin-left: 23px;
            }
            .step-description {
                font-size: 14px;
            }
        }
    }

    .best-seller {
        .highlight-item {
            max-width: 190px;
            img.cursor-pointer {
                border-radius: 5px;
            }
        }
    }

    .home-highlights.mt85 {
        margin-top: 30px;
        .medium-text-green {
            font-size: 16px;
        }

        .highlight-item {
            .small-title {
                margin-top: 10px;
                min-height: 0;
                line-height: 1.53;
                font-size: 13px;
            }

            .previous-price {
                margin-top: 8px;
                margin-bottom: 2px;
                min-height: 0;
            }
        }
    }

    .home-testimonial.mt85 {
        margin-top: 40px;
        .uk-flex-between {
            justify-content: center;
        }

        .uk-card.testimonial-item.uk-card-body {
            padding-left: 20px;
            padding-right: 20px;
            min-height: 0;
        }
    }
}
