.order-tracking-page {
    margin-bottom: 120px;
    .inputTrackingNumber {
        label {
            font-weight: 500;
        }
        .uk-form-controls {
            margin-top: 7px;
            display: flex;
            align-items: center;
            input {
                max-width: 290px;
            }
            .trackingOrderButton {
                text-align: center;
                font-size: 14px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 15px;
                border: 1px solid #94c33f;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        table.uk-table {
            border: 1px solid rgb(229, 229, 229);
            margin-top: 20px;
            tr th:first-child, tr td:first-child {
                border-right: 1px solid rgb(229, 229, 229);
            }
        }
        #jkshop-tracking-details .uk-alert-danger {
            margin-top: 20px;
        }
    }
}
