.privacy-policy-page {
    margin-top: 40px;
    margin-bottom: 120px;
    p {
        margin-bottom: 1rem;
    }
}

.return-policy-page {
    margin-bottom: 90px;
    ol li {
        margin-bottom: 1rem;
    }
}
