.newsletter {
    padding: 35px 0 55px 0;
    background: $light-green;
    background-image: url("../../img/general/image-newsletter-c.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    //object-position: 10% 50%;
    background-position: 100% 0;
    .uk-container {
        //display: flex;
        align-items: center;
    }
    .newsletter-content {
        max-width: 652px;
    }

    .r6-right {
        margin-left: auto;
    }

    .r6-text-01 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: #fff;
    }

    .r6-text-02 {
        font-size: 20px;
        line-height: 1.5;
        color: #fff;
        padding-top: 18px;
        padding-bottom: 30px;
    }

    .subscribe-form:focus {
        outline: none;
    }

    .subscribe-form {
        width: 425px;
        max-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        height: 50px;
        border: 0;
        padding-left: 24px !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: left;
        margin-right: -4px;
    }

    .subscribe-submit {
        width: 150px;
        height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #f5a623;
        border-style: none;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        padding-left: 30px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}


@media only screen and (max-width: 991px) {
    .newsletter .uk-container {
        padding-left: 35px;
        padding-right: 35px;
        .newsletter-content {
            max-width: 485px;
        }
        .r6-text-01 {
            font-size: 24px;
        }
        .r6-text-02 {
            font-size: 18px;
            padding-top: 24px;
            padding-bottom: 30px;
        }

        .subscribe-form {
            width: 256px;
            max-height: 40px;
            height: 40px;
            padding-left: 13.5px !important;
            font-size: 14px;
            margin-right: -4px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .subscribe-submit {
            width: 120px;
            height: 40px;
            font-size: 14px;
            padding-left: 20px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}


@media only screen and (max-width: 767px) {
    .newsletter {
        padding: 28px 25px 45px 25px;
        background-image: url("../../img/general/image-newsletter-mobile-c.jpg");
        background-position: 100% 0;
        background-repeat: no-repeat;
        text-align: center;
    }
    .newsletter .uk-container {
        padding-left: 0;
        padding-right: 0;
        //.newsletter-content {
        //    max-width: 485px;
        //}
        .r6-text-01 {
            font-size: 18px;
        }
        .r6-text-02 {
            font-size: 14px;
            padding-top: 10px;
        }
        //
        .subscribe-form {
            width: 100%;
            text-align: center;
            margin-right: 0;
            border-radius: 3px;
            padding-left: 0 !important;
        }

        .subscribe-submit {
            width: 100%;
            text-align: center;
            margin-top: 7px;
            border-radius: 3px;
            padding-left: 7px;
        }
    }
}
