<div class="newsletter">
  <div class="uk-container">
      <div class="newsletter-content">
          <div class="r6-left">
              <div class="r6-text-01">Sign up for our Newsletter</div>
              <div class="r6-text-02">
                  Sign up today to receive 10% off your next order, plus be the first to know about new launches and exclusive offers.
              </div>
          </div>
          <div class="r6-right">
              <form data-request="onSend" role="form" method="post">
                  <input class="subscribe-form" type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Masukkan email kamu disini...">
                  <button class="subscribe-submit" type="submit">SUBSCRIBE</button>
              </form>
          </div>
      </div>
  </div>
  <div class="clearfix"></div>
</div>
