{% if not product %}
<div class="row">
    <div class="col-sm-12">
        Product not found
    </div>
</div>

{% else %}

<ul class="uk-breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/all-products">Shop</a></li>
    <li><a href="/{{ product.categories[0].slug }}">{{ product.categories[0].title }}</a></li>
    <li class="uk-disabled"><a>{{ product.title }}</a></li>
</ul>

<div class="uk-grid-small block-mobile" uk-grid>
    <div class="item-image-buy-config">
        <div class="uk-grid-small mb120 block-mobile" uk-grid>
            <div class="item-image">
                <div uk-slideshow="autoplay: false; autoplay-interval: 4000; " class="item-image-main show-mobile" >

                    <div class="uk-position-relative uk-visible-toggle uk-light">

                        <div class="uk-slideshow-items uk-grid-match" style="height: calc(100vw - 30px)">
                            <!--<div class="item-image-main" id="product-detail-main-image">-->
                                <!--<img id="main-image" src="{{ product.getMainImagePath }}" class="img-responsive cursor-pointer" >-->
                            <!--</div>-->
                            {% for image in product.images %}
                            <div class="item-image-main">
                                <img class="img-gallery" src="{{image.path}}" rel="galery1">
                            </div>
                            {% else %}
                            <div class="item-image-sm">
                                <img class="img-gallery" src="{{ product.getMainImagePath }}" rel="galery1">
                            </div>
                            {% endfor %}
                        </div>

                        <div class="uk-position-bottom">
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                        </div>
                    </div>
                </div >


                <div class="hide-mobile">
                    {% if product.getMainImage %}
                    <div class="item-image-main" id="product-detail-main-image">
                        <img id="main-image" src="{{ product.getMainImagePath }}" class="img-responsive cursor-pointer" >
                    </div>
                    {% endif %}
                </div>
                <div class="img-sm-col two wide tablet two wide computer column hide-mobile">
                    <section class="vertical-slick slider">
                        {% for image in product.images %}
                        <div class="item-image-sm">
                            <img class="img-gallery" src="{{image.path}}" rel="galery1">
                        </div>
                        {% else %}
                        <div class="item-image-sm">
                            <img class="img-gallery" src="{{ product.getMainImagePath }}" rel="galery1">
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
            <div class="buy-config uk-width-expand@s">
                <div class="bc-text">
                    <div class="bc-text-01">{{ product.title }}</div>
                    <hr>
                    <p class="light-grey mb10">Product Price</p>
                    <h1 class="h30 brownish-grey mb30">Rp {{ product.getFinalPriceFormated }}</h1>
                    <div class="uk-child-width-expand@s uk-grid">
                        <div>
                            <p class="light-grey mb13">Stock</p>
                            <p class="p16 light-black">{{product.quantity}} product left</p>
                        </div>
                        <div>
                            <p class="light-grey mb13">Category</p>
                            <p class="p16 turtle-green">{{product.categories[0].title}}</p>
                        </div>
                    </div>
                    <form class="add-to-cart" data-request="onAddToBasket" id="form-add-to-basket">
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <div class="uk-child-width-expand@s uk-grid">
                            <div>
                                <p class="light-grey mb13">Quantity</p>
                                <div class="increment-btn">
                                    <div class="ui left action input fldr">
                                        <button class="fl1 ui icon button quantity-left-minus uk-button uk-button-default" data-type="minus" data-field="">
                                            <i uk-icon="minus"></i>
                                        </button>
                                        <input type="text" id="quantity" name="default_quantity_operation" class="fl1 form-control input-number" value="{{ product.minimum_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                                        <button class="fl1 ui icon button quantity-right-plus btn btn-success btn-number uk-button uk-button-default" data-type="plus" data-field="">
                                            <i uk-icon="plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button class="btn-01 add-to-cart-item" type="submit">ADD TO CART</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="courier-grid uk-width-expand hide-tablet">
        <div class="courier border mb17">
            <div class="social-container">
                <p class="light-grey mb15">Share Product</p>
                <div class="mb17" style="display: none;">
                    <a class="uk-display-inline mr20" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//lessentialbeauty.id/{{ product.categories[0].slug }}/{{ product.slug }}" target="_blank">
                        <img src="{{'assets/img/icon/facebook-blue.png'|theme}}"
                             srcset="{{'assets/img/icon/facebook-blue@2x.png 2x'|theme}},
                             {{'assets/img/icon/facebook-blue@3x.png 3x'|theme}}" alt="facebook">
                    </a>
                    <a class="uk-display-inline mr20" href="" target="_blank">
                        <img class="line-icon" data-src="{{'assets/img/icon/line-green.png'|theme}}" width="19" alt="line" uk-img>
                    </a>
                    <a class="uk-display-inline mr20" href="" target="_blank">
                        <img src="{{'assets/img/icon/whatsapp-blue.png'|theme}}"
                             srcset="{{'assets/img/icon/whatsapp-blue@2x.png 2x'|theme}},
                             {{'assets/img/icon/whatsapp-blue@3x.png 3x'|theme}}" alt="whatsapp">
                    </a>
                    <a class="uk-display-inline" href="" target="_blank">
                        <img src="{{'assets/img/icon/envelope-o-font-awesome.png'|theme}}"
                             srcset="{{'assets/img/icon/envelope-o-font-awesome@2x.png 2x'|theme}},
                             {{'assets/img/icon/envelope-o-font-awesome@3x.png 3x'|theme}}" alt="envelope">
                    </a>
                </div>
                <div class="mb17"><div class="sharethis-inline-share-buttons"></div></div>
            </div>
            <hr>
            <div class="courier-list">
                <p class="light-grey mb12">Delivery Method</p>
                {#<div class="courier-item">#}
                    {#<p class="p16 brownish-grey uk-display-inline">GO-SEND</p>#}
                    {#<p class="p16 turtle-green uk-display-inline uk-align-right">Free</p>#}
                {#</div>#}
                {#<div class="courier-item">#}
                    {#<p class="p16 brownish-grey uk-display-inline">J&T Express</p>#}
                {#</div>#}
                {#<div class="courier-item">#}
                    {#<p class="p16 brownish-grey uk-display-inline">GRAB EXPRESS</p>#}
                    {#<p class="p16 turtle-green uk-display-inline uk-align-right">Free</p>#}
                {#</div>#}
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">JNE</p>
                </div>
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">TIKI</p>
                </div>
            </div>
            <hr>
            <div class="customer-response">
                <p class="light-grey mb7">Customer Response</p>
                <p class="p16 brownish-grey">0</p>
            </div>
            <hr>
            <a class="uk-button uk-button-default live-chat-button" href="#">
                <img src="{{'assets/img/icon/ion-ios-chatboxes-ionicons.png'|theme}}"
                     srcset="{{'assets/img/icon/ion-ios-chatboxes-ionicons@2x.png 2x'|theme}},
                             {{'assets/img/icon/ion-ios-chatboxes-ionicons@3x.png 3x'|theme}}"
                     alt="chat" class="uk-display-inline"
                >
                <p class="turtle-green pl10 uk-display-inline uk-text-bold">LIVE CHAT</p>
            </a>
        </div>
        <a href="">
            <div class="report-product border">
                <img src="{{'assets/img/icon/flag-material.png'|theme}}"
                     srcset="{{'assets/img/icon/flag-material@2x.png 2x'|theme}},
                             {{'assets/img/icon/flag-material@3x.png 3x'|theme}}"
                     alt="flag" class="uk-display-inline"
                >
                <p class="light-grey pl10 uk-display-inline uk-text-bold">REPORT PRODUCT</p>
            </div>
        </a>
    </div>
</div>

<div class="detail-product">
    <h1 class="h28 open-sans mb28">Detail Product</h1>
    <div class="uk-grid hide-mobile">
        <div>
            <p>Best before</p>
            <p>Product Type</p>
        </div>
        <div class="mr50">
            <p id="expiredDate"></p>
            <p>: {{product.product_type}}</p>
        </div>
        <div>
            <p>Weight</p>
            <p>Volume</p>
        </div>
        <div>
            <p>: {{product.package_weight}} grams</p>
            <p>: {{product.package_volume}} ml</p>
        </div>
    </div>
    <div class="uk-grid show-mobile-flex">
        <div>
            <p>Best before</p>
            <p>Product Type</p>
            <p>Weight</p>
            <p>Volume</p>
        </div>
        <div class="mr50">
            <p>: 10 Nov 2020</p>
            <p>: Skin Cream</p>
            <p>: {{product.package_weight}} grams</p>
            <p>: {{product.package_volume}} ml</p>
        </div>
    </div>
</div>

<hr>

<div class="description">
    <h1 class="h28 open-sans mb25">Description</h1>
    <div class="description-text">
        {{product.description|raw}}
    </div>
</div>

<div class="courier-grid uk-width-expand show-tablet hide-mobile">
    <div class="courier border mb17">
        <div class="social-container uk-grid uk-flex-between">
            <div>
                <p class="light-grey mb15">Share Product</p>
                <div class="mb17" style="display: none;">
                    <a class="uk-display-inline mr20" href="https://www.facebook.com/LEssential-Beauty-160584344621632/" target="_blank">
                        <img src="{{'assets/img/icon/facebook-blue.png'|theme}}"
                             srcset="{{'assets/img/icon/facebook-blue@2x.png 2x'|theme}},
                             {{'assets/img/icon/facebook-blue@3x.png 3x'|theme}}" alt="facebook">
                    </a>
                    <a class="uk-display-inline mr20" href="">
                        <img class="line-icon" data-src="{{'assets/img/icon/line-green.png'|theme}}" width="19" alt="line" uk-img>
                    </a>
                    <a class="uk-display-inline mr20" href="">
                        <img src="{{'assets/img/icon/whatsapp-blue.png'|theme}}"
                             srcset="{{'assets/img/icon/whatsapp-blue@2x.png 2x'|theme}},
                             {{'assets/img/icon/whatsapp-blue@3x.png 3x'|theme}}" alt="whatsapp">
                    </a>
                    <a class="uk-display-inline" href="">
                        <img src="{{'assets/img/icon/envelope-o-font-awesome.png'|theme}}"
                             srcset="{{'assets/img/icon/envelope-o-font-awesome@2x.png 2x'|theme}},
                             {{'assets/img/icon/envelope-o-font-awesome@3x.png 3x'|theme}}" alt="envelope">
                    </a>
                </div>
                <div class="mb17"><div class="sharethis-inline-share-buttons"></div></div>
            </div>
            <div>
                <a class="uk-button uk-button-default live-chat-button" href="#">
                    <img src="{{'assets/img/icon/ion-ios-chatboxes-ionicons.png'|theme}}"
                         srcset="{{'assets/img/icon/ion-ios-chatboxes-ionicons@2x.png 2x'|theme}},
                             {{'assets/img/icon/ion-ios-chatboxes-ionicons@3x.png 3x'|theme}}"
                         alt="chat" class="uk-display-inline"
                    >
                    <p class="turtle-green pl10 uk-display-inline uk-text-bold">LIVE CHAT</p>
                </a>
            </div>
        </div>
        <hr>
        <div class="uk-grid">
            <div class="courier-list uk-width-1-2 pr50">
                <p class="light-grey mb12">Delivery Method</p>
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">GO-SEND</p>
                    <p class="p16 turtle-green uk-display-inline uk-align-right">Free</p>
                </div>
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">J&T Express</p>
                </div>
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">GRAB EXPRESS</p>
                    <p class="p16 turtle-green uk-display-inline uk-align-right">Free</p>
                </div>
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">JNE</p>
                </div>
                <div class="courier-item">
                    <p class="p16 brownish-grey uk-display-inline">TIKI</p>
                </div>
            </div>
            <div class="customer-response uk-width-1-2">
                <p class="light-grey mb7">Customer Response</p>
                <p class="p16 brownish-grey">544</p>
            </div>
        </div>
    </div>
    <a href="">
        <div class="report-product border">
            <img src="{{'assets/img/icon/flag-material.png'|theme}}"
                 srcset="{{'assets/img/icon/flag-material@2x.png 2x'|theme}},
                             {{'assets/img/icon/flag-material@3x.png 3x'|theme}}"
                 alt="flag" class="uk-display-inline"
            >
            <p class="light-grey pl10 uk-display-inline uk-text-bold">REPORT PRODUCT</p>
        </div>
    </a>
</div>
<div class="courier-grid uk-width-expand show-mobile">
    <div class="courier border mb17">
        <div class="social-container">
            <p class="light-grey mb15">Share Product</p>
            <div class="mb17" style="display: none;">
                <a class="uk-display-inline mr20" href="https://www.facebook.com/LEssential-Beauty-160584344621632/">
                    <img src="{{'assets/img/icon/facebook-blue.png'|theme}}"
                         srcset="{{'assets/img/icon/facebook-blue@2x.png 2x'|theme}},
                             {{'assets/img/icon/facebook-blue@3x.png 3x'|theme}}" alt="facebook">
                </a>
                <a class="uk-display-inline mr20" href="">
                    <img class="line-icon" data-src="{{'assets/img/icon/line-green.png'|theme}}" width="19" alt="line" uk-img>
                </a>
                <a class="uk-display-inline mr20" href="">
                    <img src="{{'assets/img/icon/whatsapp-blue.png'|theme}}"
                         srcset="{{'assets/img/icon/whatsapp-blue@2x.png 2x'|theme}},
                             {{'assets/img/icon/whatsapp-blue@3x.png 3x'|theme}}" alt="whatsapp">
                </a>
                <a class="uk-display-inline" href="">
                    <img src="{{'assets/img/icon/envelope-o-font-awesome.png'|theme}}"
                         srcset="{{'assets/img/icon/envelope-o-font-awesome@2x.png 2x'|theme}},
                             {{'assets/img/icon/envelope-o-font-awesome@3x.png 3x'|theme}}" alt="envelope">
                </a>
            </div>
            <div class="mb17"><div class="sharethis-inline-share-buttons"></div></div>
        </div>
        <hr>
        <div class="courier-list">
            <p class="light-grey mb12">Delivery Method</p>
            <div class="courier-item">
                <p class="p16 brownish-grey uk-display-inline">GO-SEND</p>
                <p class="p16 turtle-green uk-display-inline uk-align-right">Free</p>
            </div>
            <div class="courier-item">
                <p class="p16 brownish-grey uk-display-inline">J&T Express</p>
            </div>
            <div class="courier-item">
                <p class="p16 brownish-grey uk-display-inline">GRAB EXPRESS</p>
                <p class="p16 turtle-green uk-display-inline uk-align-right">Free</p>
            </div>
            <div class="courier-item">
                <p class="p16 brownish-grey uk-display-inline">JNE</p>
            </div>
            <div class="courier-item">
                <p class="p16 brownish-grey uk-display-inline">TIKI</p>
            </div>
        </div>
        <hr>
        <div class="customer-response">
            <p class="light-grey mb7">Customer Response</p>
            <p class="p16 brownish-grey">544</p>
        </div>
        <hr>
        <a class="uk-button uk-button-default live-chat-button" href="#">
            <img src="{{'assets/img/icon/ion-ios-chatboxes-ionicons.png'|theme}}"
                 srcset="{{'assets/img/icon/ion-ios-chatboxes-ionicons@2x.png 2x'|theme}},
                             {{'assets/img/icon/ion-ios-chatboxes-ionicons@3x.png 3x'|theme}}"
                 alt="chat" class="uk-display-inline"
            >
            <p class="turtle-green pl10 uk-display-inline uk-text-bold">LIVE CHAT</p>
        </a>
    </div>
    <a href="">
        <div class="report-product border">
            <img src="{{'assets/img/icon/flag-material.png'|theme}}"
                 srcset="{{'assets/img/icon/flag-material@2x.png 2x'|theme}},
                             {{'assets/img/icon/flag-material@3x.png 3x'|theme}}"
                 alt="flag" class="uk-display-inline"
            >
            <p class="light-grey pl10 uk-display-inline uk-text-bold">REPORT PRODUCT</p>
        </div>
    </a>
</div>

<hr>

<div class="best-seller no-container-right-mobile">
    <!--<h1 class="h28 open-sans mb45 mt45">Related Products</h1>-->
    <div class="container">
        <div class="uk-flex uk-flex-between mb45 mt45">
            <h1 class="h28 open-sans">Related Products</h1>
            <p class="medium-text-green">See all products</div>
        </div>
        <div class="best-frames">
            <section class="related-products slider">
                {% set index = 0 %}
                {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
                {% set index = index+1 %}
                <div class="highlight-item column">
                    <a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">
                        {% if product.getMainImage %}
                        <img src="{{'assets/img/general/sale.png'|theme}}"
                             srcset="{{'assets/img/general/sale@2x.png 2x'|theme}},
                                     {{'assets/img/general/sale@3x.png 3x'|theme}}"
                             alt="" class="sale">
                        <img src="{{ product.getMainImage.path }}" class="cursor-pointer product-image">
                        {% endif %}
                        <div class="cursor-pointer small-title">{{ product.title }}</div>
                        <div class="previous-price">Rp 380.000</div>
                        <div class="price">Rp {{ product.getFinalPriceFormated }}</div>
                    </a>
                </div>
                {% else %}
                <div class="no-data">no products</div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>

{% put scripts %}
<script>
    /* increment button */
    $(document).ready(function(){

        var quantitiy=0;
        $('.quantity-right-plus').click(function(e){

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if(quantity>0){
                $('#quantity').val(quantity - 1);
            }
        });

    });

</script>

<script type="text/javascript">
    $(document).on('ready', function() {
        const dayBefore = new Date("{{product.expired_date}}").getDay();
        const monthBefore = new Date("{{product.expired_date}}").getMonth();
        const year = new Date("{{product.expired_date}}").getFullYear();
        const day = dayBefore + 1;
        const month = monthBefore + 1;
        const formattedMonth = (value) => {
            switch(value) {
                case 1:
                    return 'January';
                case 2:
                    return 'February';
                case 3:
                    return 'March';
                case 4:
                    return 'April';
                case 5:
                    return 'May';
                case 6:
                    return 'June';
                case 7:
                    return 'July';
                case 8:
                    return 'August';
                case 9:
                    return 'September';
                case 10:
                    return 'October';
                case 11:
                    return 'November';
                case 12:
                    return 'December';
            }
        };
        const monthString = formattedMonth(month);
        const finalDate = day + ' ' + monthString + ' ' + year;
        document.getElementById('expiredDate').innerHTML = ': ' + finalDate;
        if ($(window).width() < 992) {
            $(".vertical-slick").slick({
                dots: false,
                infinite: false,
                variableWidth: true,
                arrows: false
            });

            $(".related-products").slick({
                dots: false,
                infinite: true,
                centerMode: false,
                slidesToShow: 3,
                variableWidth: true,
                arrows: false
            });
        }
        else {
            $(".vertical-slick").slick({
                dots: true,
                infinite: false,
                variableWidth: true,
                arrows: false
            });

            $(".related-products").slick({
                dots: false,
                infinite: true,
                centerMode: false,
                slidesToShow: 3,
                variableWidth: true,
                arrows: false
            });
        }
    });
</script>


{% endput %}

{% endif %}







<!-- /////////////////////////////////////////////// -->











<script>
$( document ).ready(function() {
$("#form-add-to-basket select:first").change();
});

</script>
