[Jiri\Subscribe\Components\SubscribeForm subscribeform]
==
<?php
  use Jiri\Jkshop\Models\Category;
  function onStart(){
    $this['categories'] = Category::get();
  }
?>
==

<div class="footer">
    {% if this.page.title != 'Contact' %}
        {% component 'subscribeform' %}
    {% endif %}
    <div class="top-footer">
        <div class="uk-container">
            <div id="responsive-js-3" class="uk-align-center">
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <img data-src="{{'assets/img/icon/phone-green-c.png'|theme}}"
                             data-srcset="{{'assets/img/icon/phone-green@2x-c.png 2x'|theme}},
                             {{'assets/img/icon/phone-green@3x-c.png 3x'|theme}}" alt="" uk-img>
                        <div class="r1-text-01">DO YOU HAVE A QUESTION?</div>
                        <div class="r1-text-02">0812 123 1234</div>
                    </div>
                    <div>
                        <img data-src="{{'assets/img/icon/email-green-c.png'|theme}}"
                             data-srcset="{{'assets/img/icon/email-green@2x-c.png 2x'|theme}},
                             {{'assets/img/icon/email-green@3x-c.png 3x'|theme}}" alt="" uk-img>
                        <div class="r1-text-01">OFFER QUESTION?</div>
                        <div class="r1-text-02">ecommerce@lessentialbeauty.id</div>
                    </div>
                    <div>
                        <img data-src="{{'assets/img/icon/shape-c.png'|theme}}"
                             data-srcset="{{'assets/img/icon/shape@2x-c.png 2x'|theme}},
                             {{'assets/img/icon/shape@3x-c.png 3x'|theme}}" alt="" uk-img>
                        <div class="r1-text-01">SUPPORT QUESTION?</div>
                        <div class="r1-text-02">support@lessentialbeauty.id</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="uk-container">
            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <ul>
                        <li class="footer-list-title">INFORMATION</li>
                        <li class="footer-list-item"><a href="">About Us</a></li>
                        <li class="footer-list-item"><a href="">Blog</a></li>
                        <li class="footer-list-item"><a href="">Careers</a></li>
                        <li class="footer-list-item"><a href="">Newsletters</a></li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li class="footer-list-title">MY ACCOUNT</li>
                        <li class="footer-list-item"><a href="">My Account</a></li>
                        <li class="footer-list-item"><a href="{{ 'cart'|page }}">Shopping Cart</a></li>
                        <li class="footer-list-item"><a href="{{ 'checkout'|page }}">Check Out</a></li>
                        <li class="footer-list-item"><a href="{{ 'login'|page }}">Sign </a></li>
                        <li class="footer-list-item"><a href="{{ 'order-tracking'|page }}">Order Tracking</a></li>
                    </ul>
                </div>

                <div class="second-row-mobile">
                    <ul>
                        <li class="footer-list-title">CUSTOMER CARE</li>
                        <li class="footer-list-item"><a href="{{ 'contact'|page }}">Contact Us</a></li>
                        <li class="footer-list-item"><a href="">Terms of Use</a></li>
                        <li class="footer-list-item"><a href="{{ 'privacy-policy'|page }}">Privacy Policy</a></li>
                        <li class="footer-list-item"><a href="">FAQ</a></li>
                        <li class="footer-list-item"><a href="">Deliver Information</a></li>
                        <li class="footer-list-item"><a href="{{ 'return-policy'|page }}">Return Policy</a></li>
                    </ul>
                </div>

                <div class="second-row-mobile">
                    <ul>
                        <li class="footer-list-title">EXTRA</li>
                        <li class="footer-list-item"><a href="">Promo of the Month</a></li>
                    </ul>
                </div>

                <div class="hide-tablet">
                    <ul>
                        <li class="footer-list-title">CONNECT WITH US</li>
                        <ul class="footer-social">
                            <li class="footer-list-social">
                                <a href="https://www.facebook.com/LEssential-Beauty-160584344621632/" target="_blank">
                                    <img data-src="{{'assets/img/icon/facebook-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/facebook-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/facebook-font-awesome@3x-c.png 3x'|theme}}" alt="facebook" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social">
                                <a href="https://www.instagram.com/lessentialbeauty.id/" target="_blank">
                                    <img data-src="{{'assets/img/icon/instagram-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/instagram-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/instagram-font-awesome@3x-c.png 3x'|theme}}" alt="instagram" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social">
                                <a href="" target="_blank">
                                    <img class="line-icon" data-src="{{'assets/img/icon/line.png'|theme}}" width="19" alt="line" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social">
                                <a href="" target="_blank">
                                    <img data-src="{{'assets/img/icon/youtube-play-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/youtube-play-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/youtube-play-font-awesome@3x-c.png 3x'|theme}}" alt="youtube" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social mr0">
                                <a href="" target="_blank">
                                    <img data-src="{{'assets/img/icon/whatsapp-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/whatsapp-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/whatsapp-font-awesome@3x-c.png 3x'|theme}}" alt="whatsapp" uk-img>
                                </a>
                            </li>
                        </ul>

                    </ul>
                </div>
            </div>
            <div class="show-tablet footer-social-wrapper-tab">
                <ul>
                    <li class="footer-list-title">CONNECT WITH US</li>
                    <ul class="footer-social">
                        <li class="footer-list-social">
                            <a href="https://www.facebook.com/LEssential-Beauty-160584344621632/" target="_blank">
                                <img data-src="{{'assets/img/icon/facebook-font-awesome-c.png'|theme}}"
                                     data-srcset="{{'assets/img/icon/facebook-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/facebook-font-awesome@3x-c.png 3x'|theme}}" alt="facebook" uk-img>
                            </a>
                        </li>
                        <li class="footer-list-social">
                            <a href="https://www.instagram.com/lessentialbeauty.id/" target="_blank">
                                <img data-src="{{'assets/img/icon/instagram-font-awesome-c.png'|theme}}"
                                     data-srcset="{{'assets/img/icon/instagram-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/instagram-font-awesome@3x-c.png 3x'|theme}}" alt="instagram" uk-img>
                            </a>
                        </li>
                        <li class="footer-list-social">
                            <a href="" target="_blank">
                                <img class="line-icon" data-src="{{'assets/img/icon/line.png'|theme}}" width="19" alt="line" uk-img>
                            </a>
                        </li>
                        <li class="footer-list-social">
                            <a href="" target="_blank">
                                <img data-src="{{'assets/img/icon/youtube-play-font-awesome-c.png'|theme}}"
                                     data-srcset="{{'assets/img/icon/youtube-play-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/youtube-play-font-awesome@3x-c.png 3x'|theme}}" alt="youtube" uk-img>
                            </a>
                        </li>
                        <li class="footer-list-social mr0">
                            <a href="" target="_blank">
                                <img data-src="{{'assets/img/icon/whatsapp-font-awesome-c.png'|theme}}"
                                     data-srcset="{{'assets/img/icon/whatsapp-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/whatsapp-font-awesome@3x-c.png 3x'|theme}}" alt="whatsapp" uk-img>
                            </a>
                        </li>
                    </ul>

                </ul>
            </div>
        </div>
    </div>

    <div class="copy-right">
        Copyright © 2018 GO BEAUTY.  All Rights Reserved.
    </div>

</div>
