[staticMenu]
code = "main-menu"

[viewBag]
==
<?php
	use Jiri\Jkshop\Models\Category;
	function onStart(){
		$this['category'] = Category::orderBy('id','desc')->paginate(3);
$this['categories'] = Category::get();
}
?>
==
<div class="header">

    <div class="topHeader">
        <div class="uk-container">
            <div class="fldr">
                <div class="fl1 hide-tablet">
                    <div class="icon-text inline ml0">
                        <img src="{{'assets/img/icon/local-phone-material-c.png'|theme}}"
                             srcset="{{'assets/img/icon/local-phone-material@2x-c.png 2x'|theme}},
                     {{'assets/img/icon/local-phone-material@3x-c.png 3x'|theme}}" class="icon-left-text">
                        <div class="topHeaderText">0812 123 1234</div>
                    </div>
                    <div class="icon-text inline">
                        <img src="{{'assets/img/icon/email-material-c.png'|theme}}"
                             srcset="{{'assets/img/icon/email-material@2x-c.png 2x'|theme}},
                     {{'assets/img/icon/email-material@3x-c.png 3x'|theme}}" class="icon-left-text">
                        <div class="topHeaderText">ecommerce@lessentialbeauty.id</div>
                    </div>
                </div>

                <div class="fl1 uk-text-right">
                    <div class="icon-text inline hide-mobile">
                        <img src="{{'assets/img/icon/path-c.png'|theme}}"
                             srcset="{{'assets/img/icon/path@2x-c.png 2x'|theme}},
                     {{'assets/img/icon/path@3x-c.png 3x'|theme}}" class="icon-left-text">
                        <div class="topHeaderText"><a href="{{ 'order-tracking'|page }}" class="fc-white">Order Tracking</a></div>
                    </div>
                    {% if not user %}
                        <div class="icon-text inline">
                            <img src="{{'assets/img/icon/padlock-c.png'|theme}}"
                                 srcset="{{'assets/img/icon/padlock@2x-c.png 2x'|theme}},
                    {{'assets/img/icon/padlock@3x-c.png 3x'|theme}}" class="icon-left-text">
                            <div class="topHeaderText"><a href="{{ 'register'|page }}" class="fc-white">Register</a></div>
                        </div>
                        <div class="icon-text inline mr0">
                            <img src="{{'assets/img/icon/user-silhouette-c.png'|theme}}"
                                 srcset="{{'assets/img/icon/user-silhouette@2x-c.png 2x'|theme}},
                    {{'assets/img/icon/user-silhouette@3x-c.png 3x'|theme}}" class="icon-left-text">
                            <div class="topHeaderText"><a href="{{ 'login'|page }}" class="fc-white">Login</a></div>
                        </div>
                    {% endif %}
                    <!--<div class="icon-text inline mr0">-->
                    <!--<div class="topHeaderText">Language: <strong>ENG</strong></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="bottomHeader hide-mobile">
        <div class="uk-container fldr">
            <div class="logo fl1 fl3-mobile">
                <a href="{{ 'homepage'|page }}">
                    <img src="{{'assets/img/general/logo-c.png'|theme}}"
                         srcset="{{'assets/img/general/logo@2x-c.png 2x'|theme}},
                        {{'assets/img/general/logo@3x-c.png 3x'|theme}}" class="logo">
                </a>
            </div>
            <div class="navigation uk-text-right fl2">
                {% if user %}
                    <div class="user-dropdown-wrapper uk-float-right">
                        <a class="user-dropdown visible">
                            <i class="fa fa-user-circle user-dropdown"></i>
                            {#<div class="user-dropdown-wrapper">#}
                                {#<img src="https://graph.facebook.com/10213464612511712/picture?type=square" alt="avatar">#}
                            {#</div>#}
                        </a>
                        <div class="ui popup bottom left transition hidden" style="top: 553px; left: 1px; bottom: auto; right: auto; min-width:10em; max-width: 13em">
                            <div class="ui one column relaxed divided grid">
                                <div class="column fs16 uk-text-left">
                                    <div class="fw500 p25 pb0">{{ user.name }}</div>
                                    <hr>

                                    <ul class="uk-nav uk-navbar-dropdown-nav fs16">
                                        <!--<li><a class="fw-normal" href="#">My Orders</a></li>-->
                                        <!--<li><a class="fw-normal" href="#">Favorites</a></li>-->
                                        <li><a class="fw-normal" href="{{ 'profile'|page }}">Profile</a></li>
                                        <li><a class="fw-normal" href="#" data-request="onLogout" data-request-data="redirect: '/'">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <ul>
                    <li><a class="navbar-text hide-mobile {{ this.page.title is same as('Shop')  ? 'active' : null }}" href="/all-products">SHOP</a></li>
                    <li><a class="navbar-text hide-mobile {{ this.page.title is same as('Blog')  ? 'active' : null }}" href="">BLOG</a></li>
                    <li><a class="navbar-text hide-mobile {{ this.page.title is same as('About Us')  ? 'active' : null }}" href="">ABOUT US</a></li>
                    <li><a class="navbar-text hide-mobile {{ this.page.title is same as('Contact')  ? 'active' : null }}" href="{{ 'contact'|page }}">CONTACT</a></li>
                    <li>
                        <ul class="inline navbar-text {% if not user %} mr0 {% endif %}">
                            <li class="search-icon hide-mobile">
                                <a href="">
                                    <img src="{{'assets/img/icon/ion-android-search-ionicons-c.png'|theme}}"
                                         srcset="{{'assets/img/icon/ion-android-search-ionicons@2x-c.png 2x'|theme}},
                                         {{'assets/img/icon/ion-android-search-ionicons@3x-c.png 3x'|theme}}">
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#modal-center" uk-toggle>
                                    <img src="{{'assets/img/icon/cart-c.png'|theme}}"
                                         srcset="{{'assets/img/icon/cart@2x-c.png 2x'|theme}},
                                         {{'assets/img/icon/cart@3x-c.png 3x'|theme}}">

                                    <div id="basket-quantity" class="basket-quantity-large">
                                        {% partial 'myBasket::basket-quantity-header' %}
                                    </div>
                                    <div id="modal-center" class="uk-flex-right" uk-modal>
                                        <div id="modal-wrapper" class="uk-modal-dialog uk-modal-body">
                                            {% partial 'myBasket::basket-popup' %}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-dropdown uk-position-relative show-mobile">
        <nav class="uk-navbar-container" uk-navbar="dropbar: true">
            <div class="uk-navbar-left fl1 bottomHeader uk-container">
                <ul class="uk-navbar-nav fl1 uk-container uk-flex uk-flex-between">
                    <li class="logo uk-center">
                        <a href="/" class="justify-content-start pr0 pl0">
                            <img src="{{'assets/img/general/logo-sm-c.png'|theme}}"
                                 srcset="{{'assets/img/general/logo-sm@2x-c.png 2x'|theme}},
                                         {{'assets/img/general/logo-sm@3x-c.png 3x'|theme}}" class="logo">
                        </a>
                    </li>
                    {#<li class="fl1"></li>#}
                    <li class="header-menu">
                        <ul class="inline navbar-text {% if not user %} mr0 {% endif %}">
                            <li class="search-icon">
                                <a href="">
                                    <img src="{{'assets/img/icon/ion-android-search-ionicons-c.png'|theme}}"
                                         srcset="{{'assets/img/icon/ion-android-search-ionicons@2x-c.png 2x'|theme}},
                                         {{'assets/img/icon/ion-android-search-ionicons@3x-c.png 3x'|theme}}">
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#modal-center" uk-toggle>
                                    <img src="{{'assets/img/icon/cart-c.png'|theme}}"
                                         srcset="{{'assets/img/icon/cart@2x-c.png 2x'|theme}},
                                         {{'assets/img/icon/cart@3x-c.png 3x'|theme}}">


                                    <div id="modal-center" class="uk-flex-right" uk-modal>
                                        <div id="modal-wrapper" class="uk-modal-dialog uk-modal-body">
                                            {% partial 'myBasket::basket-popup' %}
                                        </div>
                                    </div>
                                    <div id="basket-quantity" class="basket-quantity-small">
                                        {% partial 'myBasket::basket-quantity-header' %}
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="justify-content-end">
                                    <img src="{{'assets/img/icon/burger-menu-c.png'|theme}}"
                                         srcset="{{'assets/img/icon/burger-menu@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/burger-menu@3x-c.png 3x'|theme}}">
                                </a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a class="{{ this.page.title is same as('Shop')  ? 'active' : null }}" href="/all-products">SHOP</a></li>
                                        <li><a class="{{ this.page.title is same as('Blog')  ? 'active' : null }}" href="#">BLOG</a></li>
                                        <li><a class="{{ this.page.title is same as('About Us')  ? 'active' : null }}" href="#">ABOUT US</a></li>
                                        <li><a class="{{ this.page.title is same as('Contact')  ? 'active' : null }}" href="{{ 'contact'|page }}">CONTACT</a></li>
                                    </ul>
                                    {% if user %}
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li>
                                                <a href="#">{{ user.name }}</a>
                                                <!--<a class="float-none right-align active" href="#">Settings</a>-->
                                            </li>
                                            <li><a class="fw-normal" href="{{ 'profile'|page }}">Profile</a></li>
                                            <li><a class="fw-normal light-grey pt25" href="#" data-request="onLogout" data-request-data="redirect: '/'">Logout</a></li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>


                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- ========================== -->



<!-- {{ form_ajax('on', { model: user }) }}

    {{ form_value('name') }}
    {{ form_value('email	') }}

{{ form_close() }} -->

{% put scripts %}
    <script>
        // Remove element to prevent redundant id #basket-quantity
        if ($(window).width() <= 767) {
            $('.basket-quantity-large').removeAttr('id');
            $('.basket-quantity-small').attr('id', 'basket-quantity');
            console.log('a');
        }
        else {
            $('.basket-quantity-large').attr('id', 'basket-quantity');
            $('.basket-quantity-small').removeAttr('id');
        }

        $('.user-dropdown')
            .popup({
                inline     : true,
                hoverable  : true,
                position   : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;

        $(window).on("scroll touchmove", function () {
            $('.header').toggleClass('smaller', $(document).scrollTop() > 35);
        });
    </script>
{% endput %}
