<div class="basket-content-wrapper" id="basket-content-wrapper" >
  <div class="title-2">Purchase Confirmation</div>
    {% if (basket.products|length == 0) %}
    <div>Cart is empty</div>
    {% else %}
    <div class="basket-product-row-wrapper">
      {% for key, productJson in basket.products  %}
      <div class="item-wrapper row basket-product-row">
        <div class="ui grid">
          <div id="modal-purchase-1-left" class="five wide column">
            {% if productJson.product.images|length > 0 %}
            <img src="{{ productJson.product.images[0].path }}" class="cursor-pointer img-responsive" onclick="location.href = '{{ productJson.product.url}}'" >
            {% endif %}
          </div>
          <div id="modal-purchase-1-right" class="sixteen wide mobile eleven wide tablet eleven wide computer column">
            {% if productJson.product.images|length > 0 %}
            <img src="{{ productJson.product.images[0].path }}" class="cursor-pointer img-responsive" onclick="location.href = '{{ productJson.product.url}}'" >
            {% endif %}
            <a class="title-item-modal cursor-pointer" onclick="location.href = '{{ productJson.product.url}}'">{{ productJson.product.title }}</a>
            <div class="clearfix"></div>
            <div class="ui divider"></div>
            <div class="ui grid">
              <div class="eight wide mobile seven wide tablet seven wide computer column">
                <div class="sub-title-modal">Unit Price</div>
                <div>{{ jkshopSetting.getPriceFormatted(productJson.price+productJson.current_discount) }}</div>

              </div>
              <div class="eight wide mobile seven wide tablet seven wide computer column">
                <div class="sub-title-modal">Size in stocks</div>
                <div>{{productJson.options_text}}</div>
              </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
              <div class="eight wide mobile seven wide tablet seven wide computer column">
                <div class="sub-title-modal">Quantity</div>
                <div class="increment-btn">
                  <div class="ui disabled left action input">
                    <button type="button" class="ui icon button quantity-left-minus" data-type="minus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: -1" data-request="onBasketProductChangeQunatity">
                      <i class="minus icon"></i>
                        {{ key }}
                    </button>
                    <input type="text" id="quantity" name="default_quantity_operation" class="form-control input-number" value="{{ productJson.basket_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                    <button type="button" class="ui icon button quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: 1" data-request="onBasketProductChangeQunatity">
                      <i class="add icon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="eight wide mobile seven wide tablet seven wide computer column">
                <div class="sub-title-modal">Total</div>
                {% if productJson.current_discount > 0 %}
                    (-{{ jkshopSetting.getPriceFormatted(productJson.current_discount) }}/ pc)
                {% endif %}
                <div class="total-price-modal" id="jkshop-total-basket">{{ jkshopSetting.getPriceFormatted(productJson.total_price)  }}</div>
              </div>
            </div>
            <!-- <button type="button" class="btn btn-danger" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: -999999" data-request="onBasketProductChangeQunatity"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> -->
          </div>
        </div>
      </div>
      {% endfor  %}
    </div>
    <div class="basket-products-total">
      <div class="ui grid">
        <div class="left-tmw sixteen wide mobile eight wide tablet eight wide computer column">
          <div class="total-modal-wrapper">
            <form class="form-horizontal" data-request="onAddCouponCode">
              <div class="row">
                <input class="form-control coupon-form" name="coupon_code" required="" value="{{ basket.coupon_code }}">
                <button type="submit" class="coupon-submit">Voucher Code</button>
              </div>
              {% if basket.coupon_wrong_code > 0 %}
              <div class="row">
                <div class="col-sm-12">
                  {% if basket.coupon_wrong_code == 1 %}
                    This coupon is non active
                  {% endif %}
                  {% if basket.coupon_wrong_code == 2 %}
                    Date of valid is different
                  {% endif %}
                  {% if basket.coupon_wrong_code == 3 %}
                    This coupon have too many usage
                  {% endif %}
                  {% if basket.coupon_wrong_code == 4 %}
                    You can't use this coupon
                  {% endif %}
                  {% if basket.coupon_wrong_code == 5 %}
                    Your basket total price is too low
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% if basket.coupon_model %}
              <div class="row">
                <div class="col-sm-12">
                  <small>
                  ( Discount {{ basket.coupon_model.getValueLabel }} {{ basket.coupon_model.isGlobal ? "from total price" : "for each suitable item from basket" }} )
                  </small>
                </div>
              </div>
              {% endif %}
            </form>
            <div class="sub-title-modal">Checkout on App</div>
            <div class="tmw-text-01">
              Get extra 7% Off for gold circle or extra 4% Off for Silver Circle Member Only on Behaku Brands
            </div>
            <div class="ft-1-2">
              <img src="https://behaku.davidrica.com/themes/behaku/assets/img/icon/app-store.png" class="icon-footer-01">
              <img src="https://behaku.davidrica.com/themes/behaku/assets/img/icon/play-store.png" class="icon-footer-01">
            </div>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet eight wide computer column">
          <div class="total-modal-wrapper">
            <div class="tmw-row">
              <div class="left-mod-col">
                <div class="sub-title-modal">Sub-total</div>
              </div>
              <div class="right-mod-col">
                <div class="sub-title-modal-value" id="jkshop-total-basket">{{ basket.total_price_formatted }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui divider"></div>
            <div class="tmw-row">
              <div class="left-mod-col">
                <div class="sub-title-modal">Shipping</div>
              </div>
              <div class="right-mod-col">
                <div class="sub-title-modal-value">-</div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui divider"></div>
            <div class="tmw-row">
              <div class="left-mod-col">
                <div class="sub-title-modal">Discount</div>
              </div>
              <div class="right-mod-col">
                <div class="sub-title-modal-value">{{ jkshopSetting.getPriceFormatted(basket.total_global_discount) }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="ui divider"></div>
            <div class="tmw-row">
              <div class="left-mod-col">
                <div class="sub-title-modal">ORDER TOTAL</div>
              </div>
              <div class="right-mod-col">
                <div class="sub-title-modal-value"><strong>{{ basket.total_price_formatted }}</strong></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="/basket" class="basket-products-buttons btn-01">
      CONTINUE TO  CHECKOUT
    </a> -->
    <a href="/basket">
      <div class="basket-products-buttons btn-01">
        CONTINUE TO  CHECKOUT
      </div>
    </a>
    {% endif %}
</div>
