<div class="row-1 uk-grid uk-flex-between fw500 light-black">
    <p class="fs16">Cart</p>
    <p>Total: {{ basket.basket_quantity }} products</p>
</div>
{% if (basket.products|length == 0) %}
    <div>Cart is empty</div>
{% else %}
    <div class="basket-product-row-wrapper">
        {% for key, productJson in basket.products  %}
            <div class="row-2 uk-flex fw600">
                <div class="small-image">
                    {% if productJson.product.images|length > 0 %}
                        <img src="{{ productJson.product.images[0].path }}" class="cursor-pointer img-responsive">
                    {% endif %}
                </div>
                <div class="open-sans title-price">
                    <a class="product-title">{{ productJson.product.title }}</a>
                    <p class="product-price">Rp {{ jkshopSetting.getPriceFormatted(productJson.price+productJson.current_discount) }}</p>
                </div>
            </div>
            <hr>
        {% endfor  %}
        <div class="row-3 uk-flex uk-flex-between">
            <div class="subtotal">
                <p class="subtotal-text">Sub Total</p>
                <p class="total-price fs16">Rp {{ basket.total_price_with_tax_formatted }}</p>
            </div>
            <div>
                <a href="{{ 'checkout'|page }}" class="btn-01" data-request="onClickCheckout" type="button">CHECKOUT</a>
            </div>
        </div>
        <hr>
        <div class="row-4 uk-text-center"><a class="turtle-green fs16" href="{{ 'cart'|page }}">See Cart Details</a></div>
    </div>

{% endif %}
