{% for key, productJson in basket.products  %}
    <div class="row-2 uk-flex fw600">
        <div class="small-image">
            {% if productJson.product.images|length > 0 %}
                <img src="{{ productJson.product.images[0].path }}" class="cursor-pointer img-responsive">
            {% endif %}
        </div>
        <div class="title-price">
            <a class="product-title open-sans">{{ productJson.product.title }}</a>
            <p class="product-price hide-mobile">Rp {{ jkshopSetting.getPriceFormatted(productJson.total_price_with_tax)  }}</p>
        </div>
        <div class="increment-btn hide-mobile">
            <div class="ui left action input fldr">
                <button class="fl1 ui icon button quantity-left-minus uk-button uk-button-default" data-type="minus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: -1" data-request="onBasketProductChangeQunatity">
                    <i uk-icon="minus"></i>
                </button>
                <input type="text" id="quantity" name="default_quantity_operation" class="fl1 form-control input-number" value="{{ productJson.basket_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                <button class="fl1 ui icon button quantity-right-plus btn btn-success btn-number uk-button uk-button-default" data-type="plus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: 1" data-request="onBasketProductChangeQunatity">
                    <i uk-icon="plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row-price-increment show-mobile-flex">
        <div class="title-price">
            <p class="product-price fs16"><b>Rp {{ jkshopSetting.getPriceFormatted(productJson.total_price_with_tax)  }}</b></p>
        </div>
        <div class="increment-btn">
            <div class="ui left action input fldr">
                <button class="fl1 ui icon button quantity-left-minus uk-button uk-button-default" data-type="minus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: -1" data-request="onBasketProductChangeQunatity">
                    <i uk-icon="minus"></i>
                </button>
                <input type="text" id="quantity" name="default_quantity_operation" class="fl1 form-control input-number" value="{{ productJson.basket_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                <button class="fl1 ui icon button quantity-right-plus btn btn-success btn-number uk-button uk-button-default" data-type="plus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: 1" data-request="onBasketProductChangeQunatity">
                    <i uk-icon="plus"></i>
                </button>
            </div>
        </div>
    </div>
    <hr>
{% endfor  %}
