{% if (basket.products|length == 0) %}
    <div>Cart is empty!</div>
{% else %}
    <div class="uk-grid-medium" uk-grid>
        <div class="left-column border uk-width-expand@s">
            <div class="summary-title open-sans">Cart</div>
            <hr>
            <div class="basket-product-row-wrapper">
                {% for key, productJson in basket.products  %}
                    <div class="row-2 uk-flex fw600">
                        <div class="small-image">
                            {% if productJson.product.images|length > 0 %}
                                <img src="{{ productJson.product.images[0].path }}" class="cursor-pointer img-responsive">
                            {% endif %}
                        </div>
                        <div class="title-price">
                            <a class="product-title open-sans">{{ productJson.product.title }}</a>
                            {#<p class="product-price hide-mobile">{{ jkshopSetting.getPriceFormatted(productJson.price+productJson.current_discount) }}</p>#}
                            <p class="product-price hide-mobile">Rp {{ jkshopSetting.getPriceFormatted(productJson.product.retail_price_with_tax)  }}</p>
                        </div>
                        <div class="increment-btn hide-mobile">
                            <div class="ui left action input fldr">
                                <button class="fl1 ui icon button quantity-left-minus uk-button uk-button-default" data-type="minus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: -1" data-request="onBasketProductChangeQunatity">
                                    <i uk-icon="minus"></i>
                                </button>
                                <input type="text" id="quantity" name="default_quantity_operation" class="fl1 form-control input-number" value="{{ productJson.basket_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                                <button class="fl1 ui icon button quantity-right-plus btn btn-success btn-number uk-button uk-button-default" data-type="plus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: 1" data-request="onBasketProductChangeQunatity">
                                    <i uk-icon="plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row-price-increment show-mobile-flex">
                        <div class="title-price">
                            {#<p class="product-price fs16"><b>{{ jkshopSetting.getPriceFormatted(productJson.price+productJson.current_discount) }}</b></p>#}
                            <p class="product-price fs16"><b>Rp {{ jkshopSetting.getPriceFormatted(productJson.product.retail_price_with_tax)  }}</b></p>
                        </div>
                        <div class="increment-btn">
                            <div class="ui left action input fldr">
                                <button class="fl1 ui icon button quantity-left-minus uk-button uk-button-default" data-type="minus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: -1" data-request="onBasketProductChangeQunatity">
                                    <i uk-icon="minus"></i>
                                </button>
                                <input type="text" id="quantity" name="default_quantity_operation" class="fl1 form-control input-number" value="{{ productJson.basket_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                                <button class="fl1 ui icon button quantity-right-plus btn btn-success btn-number uk-button uk-button-default" data-type="plus" data-field="" data-request-data="key: '{{key}}', id: {{ productJson.product.id }}, qty_operation: 1" data-request="onBasketProductChangeQunatity">
                                    <i uk-icon="plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor  %}
                <div class="row-3 uk-text-center"><a class="turtle-green fs16 fw500" href="/all-products">Add More Products</a></div>
            </div>
        </div>

        <div class="right-column">
            <div class="side-menu">
                <div class="summary-title open-sans">Summary</div>
                <hr>
                <div>
                    <p class="voucher-text fs14 turtle-green fw500">Use Voucher Code or Coupon</p>
                </div>
                <hr>
                <div class="total-text-price">
                    <p class="total-text">Total</p>
                    <p class="total-price">Rp {{ basket.total_price_with_tax_formatted }}</p>
                </div>
                <hr>
                <a href="{{ 'checkout'|page }}" data-request="onClickCheckout" type="button">
                    <div class="checkout-button btn-01">CHECKOUT</div>
                </a>
            </div>
        </div>
    </div>
{% endif %}
