<div class="side-menu">
    <div class="summary-title open-sans">Summary</div>
    <hr>
    <div>
        <p class="voucher-text fs14 turtle-green fw500">Use Voucher Code or Coupon</p>
    </div>
    <hr>
    <div class="total-text-price uk-flex uk-flex-between">
        <p class="total-text">Product Price</p>
        <p class="total-price">Rp {{ basket.total_price_with_tax_formatted }}</p>
    </div>
    <hr>
    <div class="total-text-price uk-flex uk-flex-between">
        <p class="total-text">Shipping Cost</p>
        <p class="total-price">Rp {{ basket.shipping_price_formatted }}</p>
    </div>
    <hr>
    {#<div class="total-text-price uk-flex uk-flex-between">#}
        {#<p class="total-text">Payment Code</p>#}
        {#<p class="total-price">Rp {{ basket.payment_code }}</p>#}
    {#</div>#}
    {#<hr>#}
    <div class="total-text-price uk-flex uk-flex-between">
        <p class="total-text fs16 fw500 light-black">Total</p>
        <p class="total-price fs18">Rp {{ basket.total_price_with_shipping_formatted }}</p>
    </div>
    <hr>
    <!--<select class="uk-select hiddenSelectBoxe" id="jneService" name="jne_service">-->
        <!--<option value="" disabled selected>Select JNE Service</option>-->
    <!--</select>-->
    {% if (basket.shipping_price_formatted == 0) %}
    <div class="clickable">
        <div class="checkout-button btn-01 disabledButton">GO TO PAYMENT</div>
    </div>
    {% else %}
    <a data-request="onCompleteOrder">
        <div class="checkout-button btn-01">GO TO PAYMENT</div>
    </a>
    {% endif %}
</div>
