{% if (basket.products|length == 0) %}
<div>Cart is empty!</div>
{% else %}
<div class="uk-grid-medium" uk-grid>
    <div class="left-column border uk-width-expand@s">
        <div class="summary-title open-sans">Checkout</div>
        <hr>
        <div class="box-wrapper border">
            <div class="header">
                <div class="left-header">
                    <i>
                        <img src="{{'assets/img/icon/map-pin-green.png'|theme}}"
                             srcset="{{'assets/img/icon/map-pin-green@2x.png 2x'|theme}},
                        {{'assets/img/icon/map-pin-green@3x.png 3x'|theme}}" class="icon-left-text">
                    </i>
                    <span class="fs16 fw500">Address</span>
                </div>
                <div class="right-header">
                    <ul class="select-address">
                        <li>
                            {% if not user.jkshop_ds_address %}
                            <a href="#modal-overflow" data-request="getProvinces" class="update-address" uk-toggle>Add New Address</a>
                            {% endif %}
                            <div id="modal-overflow" class="modal-address" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical">

                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h4 class="uk-modal-title fs16"><b>Shipping Address</b></h4>
                                    </div>

                                    <div class="uk-modal-body" uk-overflow-auto>

                                        {{ form_ajax('onUpdate', { model: user }) }}

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="full-name">Receiver Name</label>
                                            <div class="uk-form-controls">
                                                <input name="name" class="uk-input" type="text" id="full-name" value="{{ form_value('name') }}" required>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="phone">Phone Number</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" name="jkshop_contact_phone" value="{{ form_value('jkshop_contact_phone') }}" type="number" id="phone" required>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="provinces">Province</label>
                                            <div class="uk-form-controls">
                                                <select name="jkshop_ds_county" class="uk-select" id="provinces" required>
                                                    <option value="" disabled selected>Select Province</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="cities">City</label>
                                            <div class="uk-form-controls">
                                                <select name="jkshop_ds_city" class="uk-select" id="cities" required>
                                                    <option value="" disabled selected>Select City</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="kecamatan">Kecamatan</label>
                                            <div class="uk-form-controls">
                                                <select name="jkshop_ds_kecamatan" class="uk-select" id="kecamatan" required>
                                                    <option value="" disabled selected>Select Kecamatan</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="uk-margin jneDestinationCodeFieldGroup">
                                            <label class="uk-form-label" for="jneDestinationCode">JNE Destination Code</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" name="jkshop_ds_jne_code" type="text" id="jneDestinationCode">
                                            </div>
                                        </div>

                                        <div class="uk-margin jneDestinationCodeFieldGroup">
                                            <label class="uk-form-label" for="tikiDestinationCode">Tiki Destination Code</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" name="jkshop_ds_tiki_code" type="text" id="tikiDestinationCode">
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="post-code">Post Code</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input" name="jkshop_ds_postcode" value="{{ form_value('jkshop_ds_postcode') }}" type="number" id="post-code" required>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-form-label">Full Addres</div>
                                            <div class="uk-form-controls uk-form-controls-text">
                                                <textarea name="jkshop_ds_address" class="uk-textarea" rows="5" required>{{ form_value('jkshop_ds_address') }}</textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="uk-modal-footer uk-text-right">
                                        <button class="uk-button uk-button-primary" type="submit">Save</button>
                                    </div>
                                    {{ form_close() }}

                                </div>
                            </div>
                        </li>
                        {#<li><a href="">Use Another Address</a></li>#}
                    </ul>
                </div>
            </div>
            {% if user.jkshop_ds_address %}
            <hr>
            <div class="body">
                <div class="detail-address">
                    <div class="title p16">
                        <span>{{ user.name }}&nbsp;</span>
                        <span>
                                <a href="#modal-overflow" class="update-address" uk-toggle>
                                    <i>
                                        <img src="{{'assets/img/icon/pencil-green.png'|theme}}"
                                             srcset="{{'assets/img/icon/pencil-green@2x.png 2x'|theme}}, {{'assets/img/icon/pencil-green@3x.png 3x'|theme}}">
                                    </i>
                                </a>
                            </span>
                    </div>
                    <div class="content light-grey">
                        <p>{{ user.jkshop_contact_phone }}</p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.jkshop_ds_address }}, {{ user.jkshop_ds_kecamatan }}, {{ user.jkshop_ds_city }}, {{ user.jkshop_ds_county }}. {{ user.jkshop_ds_postcode }} </p>
                    </div>
                </div>
                <hr>
                <div class="notes">
                    <div class="title">Add Notes <span class="light-grey">(Optional)</span></div>
                    <input class="border" type="text" id="notes" name="notes" placeholder="Notes about your order, for instance, a special note for your delivery">
                </div>
            </div>
            {% endif %}
        </div>
        <div class="box-wrapper product-list border">
            <div class="header">
                <div class="left-header">
                    <i>
                        <img src="{{'assets/img/icon/cart-green.png'|theme}}"
                             srcset="{{'assets/img/icon/cart-green@2x.png 2x'|theme}},
                        {{'assets/img/icon/cart-green@3x.png 3x'|theme}}" class="icon-left-text">
                    </i>
                    <span class="fs16">Shopping Details</span>
                </div>
                <div class="right-header" style="display: none">
                    <p>Add shipping insurance</p>
                    <input class="uk-checkbox" type="checkbox">
                </div>
            </div>
            <hr>
            <div class="body">
                <div class="basket-product-row-wrapper" id="basket-product-list">
                    {% partial __SELF__ ~"::basket-product-list" %}
                </div>
                <div class="notes">
                    <div class="title">Add Notes <span class="light-grey">(Optional)</span></div>
                    <input class="border" type="text" id="notes" name="notes" placeholder="Notes about your order, for instance, a special note for your delivery">
                </div>
                <div class="courier">
                    <div class="title">Choose Courier</div>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="couriers" name="shipping_price" required>
                            <option value="" disabled selected>Select Courier</option>
                        </select>
                        <select class="uk-select" id="shippingService" name="shippingService">
                            <option value="" disabled selected>Select Shipping Service</option>
                        </select>
                        <select class="uk-select" id="shippingName" name="shippingName">
                            <option value="" disabled selected>Select Shipping Name</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-wrapper border">
            <div class="header">
                <div class="left-header">
                    <i>
                        <img src="{{'assets/img/icon/icon-payment-method.png'|theme}}"
                             srcset="{{'assets/img/icon/icon-payment-method@2x.png 2x'|theme}},
                        {{'assets/img/icon/icon-payment-method@3x.png 3x'|theme}}" class="icon-left-text">
                    </i>
                    <span class="fs16">Choose Payment Method</span>
                </div>
            </div>
            <hr>
            <div class="body">
                <div class="payment-item uk-flex uk-flex-between">
                    <div class="uk-flex">
                        <input class="uk-checkbox" type="checkbox" checked>
                        <p>Transfer</p>
                    </div>
                    <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                         srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}},
                        {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}">
                </div>
                <div class="info-box">
                    <p>
                        Make your payment directly to our account. please use your order ID as a payment reference. Your order
                        will not be sent until your payment have been sent to our account. For further information please contact
                        our <span class="turtle-green">customer support</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="right-column" id="checkout-price-summary">
        {% partial __SELF__ ~"::checkout-summary-price" %}
    </div>
</div>
{% endif %}

{% put scripts %}
<script>
    // console.log = function() {};
    let allCities = [];
    let cityList = [];
    let allKecamatan = [];
    let kecamatanList = [];
    let isFirstPageLoad = true;
    $(document).on('ready', function() {
        $('.modal-address form').addClass('uk-form-horizontal uk-margin-large');

        // Get all provinces
        const provinceList = JSON.parse(('{{ provinceList }}').replace(/&quot;/g,'"'));
        console.log('provinceList: ', provinceList);
        $.each(provinceList, function (i, item) {
            $('#provinces').append($('<option>', {
                value: item.provinsi,
                text : item.provinsi
            }));
        });
        if ('{{ user.jkshop_ds_county }}') {
            $('#provinces').val('{{ user.jkshop_ds_county }}');
        }

        // Get all cities
        allCities = JSON.parse(('{{ cityList }}').replace(/&quot;/g,'"'));
        allKecamatan = JSON.parse(('{{ kecamatanList }}').replace(/&quot;/g,'"'));
        console.log('allCities: ', allCities);
        getCityList();

        // Change province
        $('#provinces').change(function(){
            getCityList();
        });

        // Change city
        $('#cities').change(function(){
            getKecamatanList();
        });

        // Change kecamatan
        $('#kecamatan').change(function(){
            getTikiAreaInfo();
        });

        // Change shipping
        $('#couriers').change(function(){
            onChangeCourier();
        });

    });

    // Get city based on selected province
    const getCityList = () => {
        const selectedProvince = $('#provinces option:selected').val();
        cityList = allCities.filter(function (data) {
            return data.provinsi === selectedProvince;
        });
        $('#cities option').remove();
        console.log('cityList: ', cityList);
        $.each(cityList, function (i, item) {
            $('#cities').append($('<option>', {
                value: item.kota,
                text : item.kota
            }));
        });

        if (isFirstPageLoad && '{{ user.jkshop_ds_city }}') {
            $('#cities').val('{{ user.jkshop_ds_city }}');
        }

        getKecamatanList();
    };

    // Get kecamatan based on selected province
    const getKecamatanList = () => {
        const selectedCity = $('#cities option:selected').val();
        kecamatanList = allKecamatan.filter(function (data) {
            return data.kota === selectedCity && data.kota !== data.kecamatan;
        });
        $('#kecamatan option').remove();
        console.log('kecamatanList: ', kecamatanList);
        $.each(kecamatanList, function (i, item) {
            $('#kecamatan').append($('<option>', {
                value: item.kecamatan,
                text : item.kecamatan
            }));
        });

        if (isFirstPageLoad && '{{ user.jkshop_ds_kecamatan }}') {
            $('#kecamatan').val('{{ user.jkshop_ds_kecamatan }}');
        }
        getTikiAreaInfo();
    };

    const getTikiAreaInfo = () => {
        console.log('tikiAccessToken: {{ tikiAccessToken }}');
        $('form').request(
            'onGetTikiAreaInfo',
            {
                data: {
                    token: "{{ tikiAccessToken }}"
                },
                success: function(data) {
                    console.log('onGetTikiAreaInfo: ', data);
                    const response = data;
                    const selectedKecamatan = $('#kecamatan').val();
                    const selectedZipCode = kecamatanList.filter( x => { return x.kecamatan === selectedKecamatan;})[0].kode_pos.toString();
                    const tikiDestinationCode = response.response.filter( x => { return x.zip_code ===  selectedZipCode })[0].tariff_code;
                    getShippingCostList(tikiDestinationCode);
                }
            });
    }

    // Get shipping cost list
    const getShippingCostList = (tikiDestinationCode) => {
        isFirstPageLoad = false;
        const selectedKecamatan = $('#kecamatan option:selected').val();
        const destination = kecamatanList.filter(function (data) {
            return data.kecamatan === selectedKecamatan
        });
        if (destination.length) {
            const destinationCode = destination[0].destination_code;
            $('#jneDestinationCode').val(destinationCode);
            $('#tikiDestinationCode').val(tikiDestinationCode);
            console.log('tikiDestinationCode: ', $('#tikiDestinationCode').val());

            $('form').request(
                'onGetShipping',
                {
                    data: {
                        thru: destinationCode,
                        weight: "1"
                    },
                    success: function(data) {
                        const response = JSON.parse(data.result);
                        console.log('JNE Price List: ', response);
                        if (response.price) {
                            const priceList = response.price;
                            $.each(priceList, function (i, item) {
                                if (!item.service_display.includes('JTR') && !item.service_display.includes('SPS')) {
                                    let estimation;
                                    if (item.etd_from === item.etd_thru) {
                                        estimation = item.etd_from;
                                    } else {
                                        estimation = item.etd_from + ' - ' + item.etd_thru;
                                    }
                                    $('#shippingService').append($('<option>', {
                                        value: item.service_display,
                                        text: item.service_display
                                    }));
                                    $('#shippingName').append($('<option>', {
                                        value: 'JNE',
                                        text: 'JNE'
                                    }));
                                    $('#couriers').append($('<option>', {
                                        value: item.price,
                                        text: 'JNE' + ' ' + item.service_display + ' - Rp ' + item.price + ' (' + estimation + ' days)'
                                    }));
                                    if (item.price.toString() === '{{ basket.shipping_price }}') {
                                        $('#couriers').val('{{ basket.shipping_price }}');
                                    }
                                    // setJneService();
                                }
                            });

                            $('form').request(
                                'onGetTikiShipping',
                                {
                                    data: {
                                        token: "{{ tikiAccessToken }}",
                                        orig: "TGR79.00",
                                        dest: tikiDestinationCode,
                                        weight: "1"
                                    },
                                    success: function(data) {
                                        const response = JSON.parse(data.result);
                                        const tikiPriceList = response.response;
                                        console.log('Tiki Price List: ', tikiPriceList);
                                        if (tikiPriceList && tikiPriceList.length) {
                                            $.each(tikiPriceList, function (i, item) {
                                                if (!item.SERVICE.includes('TRC') && !item.SERVICE.includes('HDS') && !item.SERVICE.includes('SDS')) {
                                                    let estimation = item.EST_DAY;
                                                    $('#shippingService').append($('<option>', {
                                                        value: item.SERVICE,
                                                        text: item.SERVICE
                                                    }));
                                                    $('#shippingName').append($('<option>', {
                                                        value: 'TIKI',
                                                        text: 'TIKI'
                                                    }));
                                                    $('#couriers').append($('<option>', {
                                                        value: item.TARIFF,
                                                        text: 'TIKI' + ' ' + item.SERVICE + ' - Rp ' + item.TARIFF + ' (' + estimation + ' days)'
                                                    }));
                                                    if (item.TARIFF === '{{ basket.shipping_price }}') {
                                                        $('#couriers').val('{{ basket.shipping_price }}');
                                                    }
                                                    // setJneService();
                                                }
                                            });
                                        } else {
                                            alert('Failed to fetch Tiki price list');
                                        }
                                    }
                                });
                        } else {
                            alert(response.error);
                        }
                    }
                });
        }
    };

    // Set Shipping Service
    const setShippingService = () => {
        const x = document.getElementById("couriers").selectedIndex;
        const y = document.getElementById("couriers").options;
        document.getElementById("shippingService").selectedIndex = y[x].index;
        document.getElementById("shippingName").selectedIndex = y[x].index;
    };

    const onChangeCourier = () => {
        setShippingService();
        const shippingPrice = $('#couriers').val();
        const shippingService = $('#shippingService').val();
        const shippingName = $('#shippingName').val();
        console.log('shippingPrice: ', shippingPrice);
        console.log('shippingService: ', shippingService);
        console.log('shippingName: ', shippingName);

        $('form').request('onChangeCourier', {data: {shipping_price: shippingPrice, shipping_service: shippingService, shipping_name: shippingName}})
    }
</script>
{% endput %}
