<div>
    <div class="col-md-12">
        <div class="form-group dropdown-field w-sm">
            <?php
                switch ($orderTime) {
                case "-1":
                echo '<select class="form-control custom-select"
                        data-request="onChangeTime"
                        data-stripe-load-indicator
                        name="orderTime">
            <option selected="selected" value="-1">Hari ini</option>
            <option value="-7">7 hari sebelumnya</option>
            <option value="-30">30 hari sebelumnya</option>
            </select>';
            break;
            case "-7":
            echo '<select class="form-control custom-select"
                          data-request="onChangeTime"
                          data-stripe-load-indicator
                          name="orderTime">
            <option value="-1">Hari ini</option>
            <option selected="selected" value="-7">7 hari sebelumnya</option>
            <option value="-30">30 hari sebelumnya</option>
        </select>';
            break;
            case "-30":
            echo '<select class="form-control custom-select"
                          data-request="onChangeTime"
                          data-stripe-load-indicator
                          name="orderTime">
            <option value="-1">Hari ini</option>
            <option value="-7">7 hari sebelumnya</option>
            <option selected="selected" value="-30">30 hari sebelumnya</option>
        </select>';
            break;
            default:
            echo '<select class="form-control custom-select"
                          data-request="onChangeTime"
                          data-stripe-load-indicator
                          name="orderTime">
            <option selected="selected" value="-1">Hari ini</option>
            <option value="-7">7 hari sebelumnya</option>
            <option value="-30">30 hari sebelumnya</option>
        </select>';
            break;
            }
            ?>
        </div>
    </div>

    <div>
        <div class="scoreboard-item control-chart col-md-4" data-control="chart-pie">
            <ul>
                <li data-color="#95b753"><?= Lang::get("jiri.jkshop::lang.orders.paid")?> <span><?= $ordersCount-$ordersPending  ?></span></li>
                <li data-color="#e5a91a"><?= Lang::get("jiri.jkshop::lang.orders.pending")?> <span><?= $ordersPending ?></span></li>
            </ul>
        </div>
        <div class="scoreboard-item title-value col-md-4">
            <h4>ORDERS <?= $day ?></h4>
            <p class="<?= $ordersCountClass ?>"><?= \Jiri\JKShop\Models\Order::where("created_at",">=", Carbon\Carbon::now()->addDay($orderTime))->count(); ?></p>
            <p class="description">Previous: <?= $ordersCountLast ?></p>
        </div>
        <div class="scoreboard-item title-value col-md-4">
            <h4>SALES <?= $day ?></h4>
            <p class="<?= $ordersValueClass ?>">Rp <?= $ordersValueThis ?></p>
            <p class="description">Previous: Rp <?= $ordersValueLast ?></p>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr>

    <!-- Product Order by City -->

    <div class="scoreboard-item control-chart col-md-6" data-control="chart-pie" style="display: flex;">
        <ul>
            <?php
                foreach ($segmentedOrderByCityList as $key => $segmentedOrderByCity) {
            echo '<li>'.$segmentedOrderByCity->city.' <span>'.$segmentedOrderByCity->value.'</span></li>';
            }
            ?>

            <li data-color="#95b753"><?= Lang::get("jiri.jkshop::lang.orders.paid")?> <span><?= $ordersCount-$ordersPending  ?></span></li>
            <li data-color="#e5a91a"><?= Lang::get("jiri.jkshop::lang.orders.pending")?> <span><?= $ordersPending ?></span></li>
        </ul>
    </div>

    <!-- Product Rank List-->
    <div class="control-list">
        <table class="table data" data-control="rowlink">
            <thead>
            <tr>
                <!--<th class="sort-desc"><a href="/">Rank</a></th>-->
                <th><span>Rank</span></th>
                <th><span>Product Name</span></th>
                <!--<th><span>Categories</span></th>-->
                <th><span>Price</span></th>
                <!--<th class="sort-desc"><a href="/">Orders</a></th>-->
                <th><span>Orders</span></th>
            </tr>
            </thead>
            <tbody>
            <?php
                foreach ($productRankList as $key => $productRank) {
            echo '<tr>
                <td>'.($key+1).'</td>
                <td>'.$productRank->title.'</td>
                <!--<td>'.$productRank->default_category_id.'</td>-->
                <td>Rp '.$productRank->retail_price_with_tax.'</td>
                <td>'.$productRank->number_of_orders.'</td>
            </tr>';
            }
            ?>
            </tbody>
        </table>
        <div class="list-footer">
            <div class="list-pagination">
                <div class="control-pagination">
                    <span class="page-iteration">1-<?= count($productRankList) ?> of <?= count($productRankList) ?></span>
                    <!--<a href="#" class="page-back" title="Previous page"></a><a href="#" class="page-next" title="Next page"></a>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Email Rank List-->
    <div class="control-list">
        <table class="table data" data-control="rowlink">
            <thead>
            <tr>
                <!--<th class="sort-desc"><a href="/">Rank</a></th>-->
                <th><span>Rank</span></th>
                <th><span>Email</span></th>
                <th><span>Orders</span></th>
            </tr>
            </thead>
            <tbody>
            <?php
                foreach ($emailRankList as $key => $emailRank) {
            echo '<tr>
                <td>'.($key+1).'</td>
                <td>'.$emailRank->email.'</td>
                <td>'.$emailRank->number_of_orders.'</td>
            </tr>';
            }
            ?>
            </tbody>
        </table>
        <div class="list-footer">
            <div class="list-pagination">
                <div class="control-pagination">
                    <span class="page-iteration">1-<?= count($emailRankList) ?> of <?= count($emailRankList) ?></span>
                    <!--<a href="#" class="page-back" title="Previous page"></a><a href="#" class="page-next" title="Next page"></a>-->
                </div>
            </div>
        </div>
    </div>
</div>
