description = "Default layout"

[session]
security = "all"

[myBasket]
idElementTotalCartPrice = "#jkshop-total-basket"
idElementWrapperBasketComponent = "#jkshop-basket-component-wrapper"
productPage = "categories"

[account]
paramCode = "code"
==
<?php
function onStart() {
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.meta_title }} {{ record.tagline }} {{ record.name }}</title>
        <meta name="description" content="{{ this.page.meta_description }} {{record.description|raw}}">
        <meta name="title" content="{{ this.page.meta_title }} {{ record.tagline }} {{ record.name }}">
        <meta name="image" content="{{ product.getMainImagePath }}">
        <meta name="author" content="davidrica">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="generator" content="davidrica">
        {#<meta name="google-signin-client_id" content="694736775358-ic08djkihnqq89jr2tshmt3h1arhp4go.apps.googleusercontent.com">#}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon/favicon-32x32.png'|theme }}">
        <!-- <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" /> -->
        <meta property="og:title" content="{{ this.page.meta_title }} {{ record.tagline }} {{ record.name }}" />
        <meta property="og:description" content="{{ this.page.meta_description }} {{record.description|raw}}">
        <meta property="og:image" content="{{ product.getMainImagePath }}" />
        <link rel="alternate" href="https://www.davidrica.com" />
        <!--{% styles %}-->
        <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans%7COpen+Sans:regular%7CSource+Sans+Pro:regular%7CRoboto:300%7CHammersmith+One:regular"> -->
        <!--<link href="{{'assets/css/font-awesome/css/font-awesome.min.css'|theme }}" rel="stylesheet">-->
        <link href="{{'assets/css/font-awesome-4.7.0/css/font-awesome.min.css'|theme }}" rel="stylesheet">
        <!--<link href="{{'assets/semantic/out/semantic.min.css'|theme }}" rel="stylesheet">-->
        <!-- <link href="{{'assets/select2.min.css'|theme }}" rel="stylesheet" /> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="{{'assets/compiled/css/style.css?v=16'|theme }}" rel="stylesheet">

        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5d3ff234ee1138001128e615&product=inline-share-buttons' async='async'></script>
    </head>
    <body>
        {#<div id="fb-root"></div>#}
        {#<script>#}
            {#(function(d, s, id) {#}
                {#var js, fjs = d.getElementsByTagName(s)[0];#}
                {#if (d.getElementById(id)) return;#}
                {#js = d.createElement(s); js.id = id;#}
                {#js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=2287226161308119&autoLogAppEvents=1';#}
                {#fjs.parentNode.insertBefore(js, fjs);#}
            {#}(document, 'script', 'facebook-jssdk'));#}
        {#</script>#}

        <!-- Content -->
        <!-- Nav -->
        {% partial 'header' %}
        {% page %}

        {% partial 'footer' %}

        <!-- Scripts -->
        <script src="{{ 'assets/compiled/js/all.js'|theme }}"></script>
        {#<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>#}
        <script>
            console.log = function() {};
        </script>
        {% framework extras %}
        {% scripts %}
        <!-- {% component 'piwik' %} -->
    </body>
</html>
