<div id="footer">
    <div class="container">
        <hr />
        <p class="muted credit">&copy; 2013 - {{ "now"|date("Y") }} Alexey Bobkov &amp; Samuel Georges. Modified by David Ricardo.</p>
    </div>
</div>
