<form data-request="onSend">
  <div class="form-group required">
    <input type="text" class="form-control" id="name" name="name" required="required" placeholder="Name">
  </div>
  <div class="form-group required">
    <input type="email" class="form-control" id="email" name="email" required="required" placeholder="Email">
  </div>
  <div class="form-group required">
    <textarea cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea form-control" id="txtMessage" name="txtMessage" aria-invalid="false" name="message" required="required" placeholder="Your message"></textarea>
  </div>
  <input type="submit" name="submit" class="btn" value="KIRIM PESAN">
</form>