
<ul style="font-size: 12px">
    <li>{{order_id}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_order_id")?></li>
    
    <li>{{first_name}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_first_name")?></li>
    <li>{{last_name}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_last_name")?></li>
    <li>{{name}} - Name</li>
    <li>{{address}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_address")?></li>
    <li>{{address2}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_address2")?></li>
    <li>{{postcode}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_postcode")?></li>
    <li>{{city}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_city")?></li>
    <li>{{county}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_county")?></li>
    <li>{{country}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_country")?></li>
    
    <li>{{ds_first_name}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_first_name")?></li>
    <li>{{ds_last_name}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_last_name")?></li>
    <li>{{ds_address}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_address")?></li>
    <li>{{ds_address2}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_address2")?></li>
    <li>{{ds_postcode}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_postcode")?></li>
    <li>{{ds_city}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_city")?></li>
    <li>{{ds_county}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_county")?></li>
    <li>{{ds_country}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_ds_country")?></li>
    
    <li>{{email}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_email")?></li>
    <li>{{phone}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_phone")?></li>
    <li>{{total_price_without_tax}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_total_price_without_tax")?></li>
    <li>{{total_global_discount}} - <?= Lang::get("jiri.jkshop::lang.orders.total_global_discount")?></li>
    <li>{{total_tax}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_total_tax")?></li>
    <li>{{total_price}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_total_price")?></li>
    <li>{{payment_method}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_payment_method")?></li>
    
    <li>{{date_now}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_date_now")?></li>
    <li>{{date_now_14}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_date_now_14")?></li>
    <li>{{date_now_31}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_date_now_31")?></li>
    
    <li>{{products}} - <?= Lang::get("jiri.jkshop::lang.settings.invoice_help_products")?></li>
    
    <li>{{coupon_code}} - <?= Lang::get("jiri.jkshop::lang.coupons.menu_label_single")." ".Lang::get("jiri.jkshop::lang.coupons.code")?></li>
    <li>{{coupon_value}} - <?= Lang::get("jiri.jkshop::lang.coupons.menu_label_single")." ".Lang::get("jiri.jkshop::lang.coupons.value")?></li>
    
</ul>
