subject = "Payment Received #{{ order_id }}"
==
<p>
    Order ID : {{ order_id }} <br>
    Time : {{ time }} <br>
    City : {{ ds_city }} <br>
    Total Price : {{ total_price }}
</p>
{#<p><br>#}
{#</p>#}
{#<p>Payment has been received.When order will be dispatched you will be informed by email.#}
{#</p>#}
{#<p><br>#}
{#</p>#}
{#<p>Thank you,#}
{#</p>#}
{#<p>Best Regards JKShop.<br>#}
{#</p>#}
